---
layout: children
title: Services
category: services
lang: en
---
<div id="NavigationAndMainView">
  <div class="inner -stretched">
    <nav class="subview">
      <nav class="facet-search">
        <h2 class="title">Tags</h2>
        <ul class="tags"></ul>
      </nav>
    </nav>
    <main class="mainview -beige">
      <div id="ServicesView" class="tagging-list-view" data-appearance-type="panel">
        <nav class="appearance-switch">
          <div class="button -current" data-appearance-value="panel" title="Panel view"></div>
          <div class="button" data-appearance-value="list" title="List view"></div>
        </nav>
        <ul class="container">

          {% for service in site.data.services.items %}
          <li class="service taggingitem">
            <div class="upper">
              <h2 class="title">
                <a href="{{ service.service_link[page.lang] }}">{{ service.name }}</a>
              </h2>
              <ul class="tags">
                {% for tag in service.tags %}
                <li class="tag-view" data-tag="{{ site.data.services.dictionary[tag][page.lang] }}">
                  {{ site.data.services.dictionary[tag][page.lang] }}</li>
                {% endfor %}
                {% if service.provider %}
                <li class="tag-view -reverse" data-tag="{{service.provider}}">{{ service.provider }}</li>
                {% endif %}
              </ul>
            </div>
            <p class="description">{{ service.description[page.lang] }}</p>
            <nav class="links">
              <ul>
                {% if service.help %}
                <li><a class="arrowed-link" href="{{ service.help[page.lang] }}">HELP</a></li>
                {% endif %}
                {% if service.wabi %}
                <li><a class="arrowed-link" href="{{ service.wabi }}">Web API</a></li>
                {% endif %}
              </ul>
            </nav>
          </li>
          {% endfor %}

        </ul>
      </div>
    </main>
  </div>
</div>