---
layout: children
title: Services
category: services
lang: en
---
<div id="NavigationAndMainView">
  <div class="inner -stretched">
    <nav class="subview">
      <nav class="facet-search">
        <h2 class="title">Tags</h2>
        <ul class="tags" data-tab="tag"></ul>
      </nav>
    </nav>
    <main class="mainview">
      <div id="ServicesView" data-appearance-type="panel">
        <nav class="appearance-switch">
          <div class="button -current" data-appearance-value="panel" title="Panel view"></div>
          <div class="button" data-appearance-value="list" title="List view"></div>
        </nav>
        <ul class="tagging-list-view">

          {% for service in site.data.services.items %}
          <li class="service taggingitem" data-tags="{{ service.tags | join: ',' }},{{ service.provider }}">
            <div class="upper">
              <h2 class="title">
                <a href="{{ service.service_link[page.lang] }}">{{ service.name }}</a>
              </h2>
              {% include tags.html lang=page.lang tags=service.tags provider=service.provider %}
            </div>
            <p class="description">{{ service.description[page.lang] }}</p>
            <nav class="links">
              <ul>
                {% if service.help %}
                <li><a class="arrowed-link" href="{{ service.help[page.lang] }}">HELP</a></li>
                {% endif %}
                {% if service.wabi %}
                <li><a class="arrowed-link" href="{{ service.wabi }}">Web API</a></li>
                {% endif %}
              </ul>
            </nav>
          </li>
          {% endfor %}

        </ul>
      </div>
    </main>
  </div>
</div>