---
# front matter tells Jekyll to process Liquid
layout: default
title: Home
---
%div#TopBody
	%main.inner
		%ul#TopServiceGroups
			%li.group	
				%a{ href: 'services.html' }
					%h2.title 
						%img{ src: "assets/images/icon-search_analysis.png", alt: "" }検索・解析
					%p.description DDBJの提供する配列データの検索、および解析情報の提供します。
			%li.group 
				%a{ href: '' }
					%h2.title 
						%img{ src: "assets/images/icon-submissions.png", alt: "" }登録
					%p.description 塩基配列や遺伝子発現、研究プロジェクト、試料などの各種情報を登録いただけます。
			%li.group 
				%a{ href: '' }
					%h2.title 
						%img{ src: "assets/images/icon-downloads.png", alt: "" }ダウンロード
					%p.description DDBJの提供する各種情報をダウンロードいただけます。
			%li.group 
				%a{ href: '' }
					%h2.title 
						%img{ src: "assets/images/icon-super_computer.png", alt: "" }スパコン
					%p.description 遺伝研スーパーコンピューターシステムをご利用いただけます。   
			%li.group 
				%a{ href: '' }
					%h2.title 
						%img{ src: "assets/images/icon-statistics.png", alt: "" }統計
					%p.description DDBJの保有する各種データの統計情報です。
			%li.group 
				%a{ href: '' }
					%h2.title 
						%img{ src: "assets/images/icon-activities.png", alt: "" }活動・講習会
					%p.description DDBJスタッフによる論文・著書・コラムや、DDBJの主催するシンポジウムなどをご紹介します。
			%li.group 
				%a{ href: '' }
					%h2.title 
						%img{ src: "assets/images/icon-about.png", alt: "" }センターについて
					%p.description 生命情報・DDBJセンターについてご紹介します。
							
		%aside#TopNews
			%div.container
				%h2.title NEWS
				%ul.list
					%li.item
						%article.news.priority
							%a{ href: '' }
								%div.metadata
									%time 2019年12月26日18:00〜2020年1月6日
								%h3.title NSSS停止のお知らせ			
					%li.item
						%article.news.priority
							%a{ href: '' }
								%div.metadata
									%time 2019年12月28日〜2020年1月5日
								%h3.title 生命情報・DDBJ センター年末年始休業のお知らせ
					%li.item
						%article.news
							%a{ href: '' }
								%div.metadata
									%time 2019年10月1日
									%div.tags
										%span.tag お知らせ 
										%span.tag DDBJ
								%h3.title 「第4回 D-STEP 講習会（第２回メタボロミクスソフトウェア講習会）」開催のお知らせ：11月11日
					%li.item
						%article.news
							%a{ href: '' }
								%div.metadata
									%time 2019年10月1日 
									%div.tags 
										%span.tag データ公開 
										%span.tag DDBJ 
										%span.tag BioProject 
										%span.tag BioSample
										%span.tag DRA
								%h3.title エンタクミドリイシ (Acropora solitaryensis) とその共生藻２種の配列データ公開
					%li.item
						%article.news
							%a{ href: '' }
								%div.metadata
									%time 2019年9月27日 
									%div.tags 
										%span.tag データ公開 
										%span.tag DDBJ 
										%span.tag BioProject 
										%span.tag BioSample
										%span.tag DRA
								%h3.title オヒアレフア (Metrosideros polymorpha var. glaberrima) の配列データ公開
				%a.more{ href: '' }more