---
layout: children
title: statistics
title-ja: 統計
---
<ul>
{% for service in site.statistics%}
  {% unless service.title == "statistics" %}
    {% if service.service_link != null %}
      <li>
        <a href="{{ service.service_link }}">{{ service.title }}</a>
        <a href="{{ service.pathname }}">help</a>
        <br>
      </li>
    {% else %}
      <li>
        <a href="{{ service.pathname }}">{{ service.title }}</a>
        <br>
      </li>
    {% endif %}
  {% endunless %}
{% endfor %}
</ul>