---
layout: indexed_content
title: statistics
title-ja: 統計
addhead: <script type='text/javascript' src='https://www.gstatic.com/charts/loader.js'></script><script type='text/javascript' src='/www/assets/js/jquery.charts.js'></script>
---

<h2>DDBJ への登録数</h2>
<ul class="no_disc no_left bottom_space">
  <li><span class="bold">Web Submission</span>: <a href="/ddbj/websub.html">Nucleotide Sequence Submission System</a> からの登録</li>
  <li><span class="bold">MSS Submission</span>: <a href="/ddbj/mss.html">Mass Submission System</a> からの登録</li>
  <li><span class="bold">Submission</span>: 登録数</li>
</ul>
<div id="submission_stat_area"></div>

<ul>
{% for service in site.statistics%}
  {% unless service.title == "statistics" %}
    {% if service.service_link != null %}
      <li>
        <a href="{{ service.service_link }}">{{ service.title }}</a>
        <a href="{{ service.pathname }}">help</a>
        <br>
      </li>
    {% else %}
      <li>
        <a href="{{ service.pathname }}">{{ service.title }}</a>
        <br>
      </li>
    {% endif %}
  {% endunless %}
{% endfor %}
</ul>
