{% capture path %}{{site.url}}{{site.baseurl}}{% endcapture %}
<nav class="category-tab">
  <ul>
    <li class="-services{% if page.category == "services" %} -current{% endif %}"><a href="{{ path }}/services/">{% if page.lang %}サービス{%  else %}Services{% endif %}</a></li>
    <li class="-supercomputer{% if page.category == "supercomputer" %} -current{% endif %}"><a href="{https://sc.ddbj.nig.ac.jp/ja">{% if page.lang %}スパコン{%  else %}SuperComputer{% endif %}</a></li>
    <li class="-statistics{% if page.category == "statistics" %} -current{% endif %}"><a href="{{ path }}/statistics/">{% if page.lang %}統計{%  else %}Statistics{% endif %}</a></li>
    <li class="-activities{% if page.category == "activities" %} -current{% endif %}"><a href="{{ path }}/activities/">{% if page.lang %}活動{%  else %}Activities{% endif %}</a></li>
    <li class="-aboutus{% if page.category == "aboutus" %} -current{% endif %}"><a href="{{ path }}/aboutus/">{% if page.lang %}センターについて{%  else %}About Us{% endif %}</a></li>
  </ul>
</nav>