{% capture path %}{{site.url}}{{site.baseurl}}{% endcapture %}
<nav class="category-tab">
  <ul>
    {% if page.lang %}
    <li class="-services{% if page.category == 'services' %} -current{% endif %}"><a href="{{ path }}/services/">サービス</a></li>
    <li class="-supercomputer{% if page.category == 'supercomputer' %} -current{% endif %}"><a href="https://sc.ddbj.nig.ac.jp/ja">スパコン</a></li>
    <li class="-statistics{% if page.category == 'statistics' %} -current{% endif %}"><a href="{{ path }}/statistics/">統計</a></li>
    <li class="-activities{% if page.category == 'activities' %} -current{% endif %}"><a href="{{ path }}/activities/">活動</a></li>
    <li class="-aboutus{% if page.category == 'aboutus' %} -current{% endif %}"><a href="{{ path }}/aboutus/">センターについて</a></li>
    {% else %}
    <li class="-services{% if page.category == 'services' %} -current{% endif %}"><a href="{{ path }}/services/index-e">Services</a></li>
    <li class="-supercomputer{% if page.category == 'supercomputer' %} -current{% endif %}"><a href="https://sc.ddbj.nig.ac.jp/en">SuperComputer</a></li>
    <li class="-statistics{% if page.category == 'statistics' %} -current{% endif %}"><a href="{{ path }}/statistics/index-e">Statistics</a></li>
    <li class="-activities{% if page.category == 'activities' %} -current{% endif %}"><a href="{{ path }}/activities/index-e">Activities</a></li>
    <li class="-aboutus{% if page.category == 'aboutus' %} -current{% endif %}"><a href="{{ path }}/aboutus/index-e">About Us</a></li>
    {% endif %}
  </ul>
</nav>