  <head>
    <meta charset="UTF-8" />
    <meta property="og:title" content="Top" />
    <meta property="og:url" content="/index.html" />
    <meta
      property="og:description"
      content="生命情報・DDBJ センターは生命科学研究から生み出されるデータの共有・解析サービスを提供することで広く研究活動をサポートしています    検索・解析    登録    ダウンロード    …"
    />
    <meta property="og:image" content="/images/thumbnail/logo_ddbj_fb.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <script async src="https://www.google-analytics.com/analytics.js"></script>
    <script
  src="https://code.jquery.com/jquery-3.5.0.js"
  integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="
  crossorigin="anonymous"></script>
    <script src="{{ site.url }}{{ site.baseurl }}/js/main.js"></script>
    <script></script>
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/main.css" />
  </head>