<head>
    <meta charset="UTF-8" />
    <meta property="og:title" content="{{ page.title | strip_html }}" />
    <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
    <meta property="og:description" content="{{ page.content | strip_html | strip_newlines | truncate: 83 }}" />
    <meta property6="og:image" content="/images/thumbnail/logo_ddbj_fb.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title | strip_html }}</title>
    <script async src="https://www.google-analytics.com/analytics.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.hoverintent/1.10.1/jquery.hoverIntent.min.js" integrity="sha512-gx3WTM6qxahpOC/hBNUvkdZARQ2ObXSp/m+jmsEN8ZNJPymj8/Jamf8+/3kJQY1RZA2DR+KQfT+b3JEB0r9YRg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/4.1.0/spin.min.js" integrity="sha512-CbohqWjAgarTqRHcX1MbwkF2pujwbsCee1PABpnBWC+VqSldvlNEEI5+4OSsR/HbFQOFFpwY2YvZZNjBMxNnXg==" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.6.4/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-deparam/0.5.3/jquery-deparam.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.trace.js"></script>
    <script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.json_search.js"></script>
    <link rel="icon" href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon_ddbj.ico">
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/colorbox.css" />
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/main.css" />
    <link rel="alternate" type="application/rss+xml" title="My Site RSS" href="/feed.xml" /> {% comment %}
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/common_framework.css"> {% endcomment %} {% if page.addhead %} {{ page.addhead }} {% endif %}
    <script src="{{ site.url }}{{ site.baseurl }}/assets/js/main.js"></script>
    {% assign jsonld_path = page.id | replace: "/", "_" %} {% if site.data.jsonld[ jsonld_path ] %}
    <script type="application/ld+json">
        {
            {
                site.data.jsonld[jsonld_path]
            }
        }
    </script>
    {% endif %}
</head>