{% if site.data.tab_menu[page.category] %}
  <nav class="tab-menu-view">
    <ul class="tabmenucontainer">
      {% for item in site.data.tab_menu[page.category][page.lang] %}
        <li class="{% if item.children %} -haschild{% endif %}{% if page.current_tab == item.id %} -current{% endif %}">
        <a href="{{ item.url }}">{{ item.title }}</a>
          {% if item.children %}
            <ul>
              {% for childitem in item.children %}
              <li>
                <a href="{{ childitem.url }}">{{ childitem.title }}</a>
              </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}

