.appearance-switch
  > .button
    display: inline-block
    width: 1em
    height: 1em
    position: relative
    cursor: pointer
    opacity: .4
    &.-current
      opacity: 1
      cursor: auto
    + .button
      margin-left: .6em
    &:before
      content: ""
      display: block
      position: absolute
    &[data-appearance-value="panel"]:before
      width: .4em
      height: .4em
      background-color: $COLOR_BROWN
      box-shadow: .6em 0 0 $COLOR_BROWN, 0 .6em 0 0 $COLOR_BROWN, .6em .6em 0 $COLOR_BROWN
    &[data-appearance-value="list"]:before
      width: 1em
      height: .2em
      background-color: $COLOR_BROWN
      box-shadow: 0 .4em 0 $COLOR_BROWN, 0 .8em 0 $COLOR_BROWN
