.facet-search
  padding: 0 1.6rem 0 4rem
  > .title
    font-size: 1.4rem
    margin-bottom: 1.2rem
  .tags
    margin-left: -.9rem
    > .tag-view
      border-radius: 1.2em
      margin-bottom: .4rem
      padding-top: .6rem
      padding-bottom: .6rem
      padding-right: .5rem
      line-height: 1
      font-size: 1.2rem
      cursor: pointer
      align-items: center
      display: flex
      > .label
        flex-grow: 1
      > .count
        line-height: 1.6
  > .tab-menu-view
    font-size: 1.2rem
    font-weight: bold
    line-height: 2rem
    > .tabmenucontainer
      margin-bottom: 1.4rem
      > li.-current
        > a
          line-height: 2.2rem
