.facet-search
  padding: 2.4rem 1.6rem 0 4rem
  > .title
    font-size: 1.4rem
    margin-bottom: 1.2rem
  > .tags
    margin-left: -.9rem
    > .service-tag
      border-radius: 1.2em
      margin-bottom: .4rem
      line-height: 2.0
      font-size: 1.2rem
      cursor: pointer
      > .count
        position: absolute
        top: .5em
        right: .5em
        line-height: 1.6

