.internal-link
  padding: 1.4rem 1.6rem 2.4rem 4rem
  > .title
    font-size: 1.4rem
    margin-bottom: 1rem
  > ul 
    word-break: break-all
    li
      font-size: 1.4rem
      list-style: none
      ul
        margin-left: 1rem
        li
          font-size: 1.2rem
          list-style: none

      a
        color: $COLOR_LIGHT_GRAY
        text-decoration: none
        display: block
        margin-bottom: 1rem
        font-weight: bold
        &.current
          color: $COLOR_BLACK
          //color: $COLOR_KEY
        &:hover
          color: $COLOR_KEY
          text-decoration: underline
        span
          font-size: 1.1rem
          font-weight: normal
          margin-left: 1rem