.page-title
  > .title
    margin-bottom: .3rem
    font-size: $FONT_SIZE_H1
    line-height: 1.2
    font-weight: lighter
  &.-small
    > .title
      font-size: $FONT_SIZE_H1_SMALL
      font-weight: bold
