.tab-menu-view
  font-size: 1.6rem
  line-height: 2.8rem
  > .tabmenucontainer
    border-bottom: solid .1rem $COLOR_BLACK
    > li
      display: inline-block
      > a
        margin-bottom: .1rem
        top: .1rem
        text-decoration: none
        display: block
        padding: 0 1rem
        background-color: $COLOR_BEIGE
        position: relative
        cursor: pointer
        transition: background $DURATION_GUI, color $DURATION_GUI
      &:hover
        > a
          background-color: $COLOR_HOVER
          [data-category="sc"] &
            color: $COLOR_SC_KEY_LIGHT
            background-color: $COLOR_SC_KEY_VERY_PALE
        > ul
          opacity: 1
          pointer-events: auto
          transform: translateY(0)
      &.-current
        > a
          margin-bottom: 0
          color: $COLOR_BLACK
          line-height: 3rem
          background-color: white
          border-top: solid .1rem $COLOR_BLACK
          border-left: solid .1rem $COLOR_BLACK
          border-right: solid .1rem $COLOR_BLACK
          [data-category="sc"] &
            color: $COLOR_BLACK
            background-color: white
      &.-haschild
        > a
          &::after
            content: ""
            display: inline-block
            border-right: .4rem solid transparent
            border-top: .5rem solid $COLOR_BLACK
            border-left: .4rem solid transparent
            margin: 0 0 .2rem .5rem
            transition: border $DURATION_GUI
        &:hover
          > a
            &::after
              border-top-color: white
      > ul
        position: absolute
        background-color: white
        box-shadow: $SHADOW_DEPTH2
        transition: transform $DURATION_GUI, opacity $DURATION_GUI
        opacity: 0
        pointer-events: none
        transform: translateY(-1rem)
        z-index: $Z_TAB_MENU
        > li
          > a
            display: block
            font-size: 1.4rem
            line-height: 2.9rem
            text-decoration: none
            padding: 0 1rem
            color: $COLOR_BLACK
            transition: background-color $DURATION_GUI
          &:hover
            > a
              background-color: $COLOR_HOVER
              color: $COLOR_KEY
              [data-category="sc"] &
                color: $COLOR_SC_KEY_LIGHT
                background-color: $COLOR_SC_KEY_VERY_PALE
          + li
            border-top: solid .1rem $COLOR_LIGHT_GRAY
  > .tabbedcontent
    display: none
    &.-current
      display: block
