@charset "UTF-8";
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700,900");
* {
  box-sizing: border-box; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fa-light-300.eot");
  src: url("../fonts/fa-light-300.eot") format("embedded-opentype"), url("../fonsfa-light-300.woff2") format("woff2"), url("../fonts/fa-light-300.woff") format("woff"), url("../fonts/fa-light-300.ttf") format("truetype"), url("../fonts/fa-light-300.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  height: 100%;
  font-size: 10px; }

body {
  background: radial-gradient(ellipse, #fffcf8 30%, #cecece 170%);
  background-attachment: fixed;
  font-family: "Roboto Condensed", "Noto Sans JP","Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,sans-serif;
  height: 100%;
  min-width: 96rem;
  color: #1C1B19;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

a {
  color: #1C1B19;
  transition: color 0.2s; }
  a:active, a:hover {
    color: #FF7300; }

input, textarea, select, button {
  outline: none;
  transition: box-shadow 0.2s; }
  input:focus, textarea:focus, select:focus, button:focus {
    box-shadow: 0 0 0.8rem #ff9905; }

@media screen and (max-width: 480px) {
  body {
    width: 100%;
    min-width: auto; } }

.appearance-switch > .button {
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  cursor: pointer;
  opacity: .4; }
  .appearance-switch > .button.-current {
    opacity: 1;
    cursor: auto; }
  .appearance-switch > .button + .button {
    margin-left: .6em; }
  .appearance-switch > .button:before {
    content: "";
    display: block;
    position: absolute; }
  .appearance-switch > .button[data-appearance-value="panel"]:before {
    width: .4em;
    height: .4em;
    background-color: #6D5C3F;
    box-shadow: 0.6em 0 0 #6D5C3F, 0 0.6em 0 0 #6D5C3F, 0.6em 0.6em 0 #6D5C3F; }
  .appearance-switch > .button[data-appearance-value="list"]:before {
    width: 1em;
    height: .2em;
    background-color: #6D5C3F;
    box-shadow: 0 0.4em 0 #6D5C3F, 0 0.8em 0 #6D5C3F; }

.arrowed-link {
  font-weight: bold;
  text-decoration: none;
  color: #6D5C3F; }
  .arrowed-link:after {
    content: "";
    display: inline-block;
    border-top: .57rem solid transparent;
    border-right: 0.57rem solid #FF7300;
    margin-left: .36rem; }

.category-tab {
  text-align: center;
  font-size: 1.4rem;
  line-height: 5rem;
  background-color: #1C1B19; }
  .category-tab > ul {
    white-space: nowrap; }
    .category-tab > ul > li {
      display: inline-block; }
      .category-tab > ul > li > a {
        padding: 0 2rem;
        display: block;
        color: white;
        text-decoration: none;
        transition: color 0.2s, background-color 0.2s; }
        .category-tab > ul > li > a:hover {
          background-color: #FF7300; }
        .category-tab > ul > li > a:before {
          content: "";
          margin: -.2rem .4rem 0 -.8rem;
          display: inline-block;
          height: 2.95rem;
          background-position: 0 0;
          background-repeat: no-repeat;
          background-size: cover;
          vertical-align: middle;
          transition: background 0.2s; }
      .category-tab > ul > li.-search_analysis > a:before, .category-tab > ul > li.-services > a:before {
        background-image: url(../images/icon-search_analysis-mono.png);
        width: 2.5rem; }
      .category-tab > ul > li.-submission > a:before {
        background-image: url(../images/icon-submission-mono.png);
        width: 3.4rem; }
      .category-tab > ul > li.-downloads > a:before {
        background-image: url(../images/icon-downloads-mono.png);
        width: 3.6rem; }
      .category-tab > ul > li.-supercomputer > a:before {
        background-image: url(../images/icon-super_computer-mono.png);
        width: 3.45rem; }
      .category-tab > ul > li.-statistics > a:before {
        background-image: url(../images/icon-statistics-mono.png);
        width: 3rem; }
      .category-tab > ul > li.-activities > a:before {
        background-image: url(../images/icon-activities-mono.png);
        width: 3.1rem; }
      .category-tab > ul > li.-aboutus > a:before {
        background-image: url(../images/icon-about-mono.png);
        width: 4rem; }
      .category-tab > ul > li.-current > a {
        color: #1C1B19;
        background-color: white; }
      .category-tab > ul > li.-current.-search_analysis > a:before, .category-tab > ul > li.-current.-services > a:before {
        background-image: url(../images/icon-search_analysis.png); }
      .category-tab > ul > li.-current.-submission > a:before {
        background-image: url(../images/icon-submission.png); }
      .category-tab > ul > li.-current.-downloads > a:before {
        background-image: url(../images/icon-downloads.png); }
      .category-tab > ul > li.-current.-supercomputer > a:before {
        background-image: url(../images/icon-super_computer.png); }
      .category-tab > ul > li.-current.-statistics > a:before {
        background-image: url(../images/icon-statistics.png); }
      .category-tab > ul > li.-current.-activities > a:before {
        background-image: url(../images/icon-activities.png); }
      .category-tab > ul > li.-current.-aboutus > a:before {
        background-image: url(../images/icon-about.png); }

@media screen and (max-width: 480px) {
  .category-tab > ul {
    display: flex; }
    .category-tab > ul > li {
      display: block;
      flex-grow: 1; }
      .category-tab > ul > li > a {
        padding: 1rem 0;
        font-size: 1rem;
        line-height: 1; }
        .category-tab > ul > li > a:before {
          display: block;
          margin: 0 auto .4rem; } }

.columns-view {
  display: flex;
  justify-content: space-between; }
  .columns-view.-two > .column {
    width: calc(100% / 2 - 3rem); }
  .columns-view.-three > .column {
    width: calc(100% / 3 - 3rem); }
  .columns-view.-four > .column {
    width: calc(100% / 4 - 3rem); }

@media screen and (max-width: 480px) {
  .columns-view {
    display: inherit; }
    .columns-view.-two > .column, .columns-view.-three > .column, .columns-view.-four > .column {
      width: 100%; } }

.facet-search {
  padding: 2.4rem 1.6rem 0 4rem; }
  .facet-search > .title {
    font-size: 1.4rem;
    margin-bottom: 1.2rem; }
  .facet-search > .tags {
    margin-left: -.9rem; }
    .facet-search > .tags > .service-tag {
      border-radius: 1.2em;
      margin-bottom: .4rem;
      line-height: 2.0;
      font-size: 1.2rem;
      cursor: pointer; }
      .facet-search > .tags > .service-tag > .count {
        position: absolute;
        top: .5em;
        right: .5em;
        line-height: 1.6; }

.internal-link {
  padding: 2.4rem 1.6rem 2.4rem 4rem; }
  .internal-link > .title {
    font-size: 14px;
    margin-bottom: 10px; }
  .internal-link > ul {
    word-break: break-all; }
    .internal-link > ul > li {
      font-size: 14px;
      list-style: none; }
      .internal-link > ul > li > ul {
        margin-left: 10px; }
        .internal-link > ul > li > ul > li {
          font-size: 12px;
          list-style: none; }
      .internal-link > ul > li a {
        color: B2ACA6;
        text-decoration: none;
        display: block;
        margin-bottom: 10px; }
        .internal-link > ul > li a.current {
          color: #1C1B19; }

.list-view > .listtitle {
  background: #1C1B19;
  color: white;
  font-size: 1.2em;
  padding: 0.5rem 0.6rem; }

.list-view > .list {
  list-style: none; }
  .list-view > .list > .item {
    padding: 1rem 0;
    border-bottom: solid 1px #ccc; }
    .list-view > .list > .item > .title {
      margin-bottom: .2em; }
    .list-view > .list > .item > .detail {
      font-size: 0.85em; }
    .list-view > .list > .item > .tags-view {
      font-size: .9em; }

.list-view + .list-view {
  margin-top: 1em; }

.md-content {
  font-size: 1.4rem;
  line-height: 1.8;
  /* 幅を調整 */ }
  .md-content .highlight {
    overflow: auto; }
  .md-content img {
    width: 100%; }
  .md-content .size-optimize img {
    width: auto; }
  .md-content .w40 {
    width: 4rem; }
  .md-content .pdf {
    width: 2.5rem;
    height: 2.5rem; }
  .md-content > p, .md-content > table, .md-content > ol, .md-content > ul, .md-content > dl, .md-content > .highlighter-rouge {
    margin-bottom: 1rem; }
  .md-content .red {
    color: #FF0000; }
    .md-content .red * {
      color: #FF0000; }
  .md-content .blue {
    color: #0000ff; }
  .md-content .conditionally_required {
    color: #009B00; }
  .md-content h2 {
    font-size: 1.8rem;
    line-height: 1.2;
    margin-top: 2.4rem;
    margin-bottom: 1.5rem;
    border-left: solid 1.2rem #FF7300;
    margin-left: -2.5rem;
    padding-left: 1.2rem; }
  .md-content h3 {
    font-size: 1.6rem;
    border-bottom: 2px solid #FEC091;
    margin-bottom: 1.6rem; }
  .md-content ul li {
    padding: .4rem 0;
    line-height: 1.6;
    margin-left: 2rem; }
    .md-content ul li .title {
      font-weight: bold; }
  .md-content ol {
    counter-reset: my-counter;
    list-style: none;
    padding: 0; }
    .md-content ol li {
      margin-bottom: 10px;
      padding-left: 29px;
      position: relative; }
      .md-content ol li:before {
        content: counter(my-counter);
        counter-increment: my-counter;
        background-color: #FEC091;
        color: white;
        display: block;
        line-height: 20px;
        margin-left: -26px;
        text-align: center;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        position: absolute;
        top: 3px;
        left: 28px; }
      .md-content ol li.decrement:before {
        counter-increment: my-counter +0; }
      .md-content ol li ul li {
        padding-left: 0; }
        .md-content ol li ul li:before {
          content: none; }
  .md-content dl {
    line-height: 1.4; }
    .md-content dl dt, .md-content dl dd {
      padding: .6rem 0; }
    .md-content dl dt {
      font-weight: bold; }
    .md-content dl + dt {
      margin-top: 1rem; }
  .md-content caption, .md-content figcaption, .md-content .tablecaption {
    caption-side: bottom;
    font-size: 1.2rem;
    color: #666;
    text-align: left;
    line-height: initial; }
  .md-content caption, .md-content figcaption {
    margin-top: .5rem; }
  .md-content .tablecaption {
    margin-bottom: .5rem;
    display: block; }
  .md-content table {
    width: 100%;
    border: 1px solid #736357;
    line-height: 1.2;
    font-size: 1.2rem; }
    .md-content table thead tr th {
      border-bottom: 1px solid #736357; }
    .md-content table tr th {
      text-align: left;
      font-weight: bold;
      white-space: nowrap; }
    .md-content table tr td, .md-content table tr th {
      padding: .6rem .6rem .6rem .6rem;
      border-bottom: 1px solid #ccc;
      vertical-align: middle; }
      .md-content table tr td.borderbtm, .md-content table tr th.borderbtm {
        border-bottom: 1px solid #736357; }
    .md-content table tr:last-child > td, .md-content table tr:last-child th {
      border-bottom: 1px solid #736357; }
    .md-content table + table {
      margin-top: -1.1rem; }
  .md-content code, .md-content pre {
    background-color: #E0E0E0;
    color: black;
    padding: .3rem .6rem;
    font-size: 1.2rem;
    line-height: 1.6;
    font-family: 'courier', monospace; }
  .md-content .attention {
    background-color: #FFF3DB;
    padding: 1rem 1.6rem;
    border-left: 6px solid #FEC091;
    margin-bottom: 1.6rem; }
  .md-content .accordion-menu dt {
    cursor: pointer; }
    .md-content .accordion-menu dt a {
      text-decoration: none;
      position: relative; }
    .md-content .accordion-menu dt::after {
      content: "";
      display: block;
      top: 100%;
      left: 100%;
      width: 10px;
      height: 10px;
      border-top: 2px solid #FF7300;
      border-right: 2px solid #FF7300;
      transform: translateX(900%) translateY(-150%) rotate(135deg); }
  .md-content .accordion-menu dd {
    display: none;
    margin: 0; }
  .md-content .close-btn {
    text-align: right;
    display: block; }
  .md-content .float-left {
    float: left;
    width: 50%; }
  .md-content .float-right {
    float: right;
    width: 50%; }
    .md-content .float-right img {
      width: 100%; }
  .md-content .float-release {
    clear: both; }
  .md-content .text-align-end {
    text-align: end; }
  .md-content .feeds img {
    height: 2rem;
    vertical-align: text-bottom;
    margin-right: .2rem; }
  .md-content .start-button {
    text-align: center;
    padding: .5rem 2rem .5rem .5rem;
    margin: 2rem 2rem;
    background-color: #FEC091; }
  .md-content .nsss-menu {
    display: flex; }
    .md-content .nsss-menu .nsss-icon {
      width: 100px;
      text-align: center; }
      .md-content .nsss-menu .nsss-icon img {
        width: 35px;
        height: auto; }
  .md-content .db-top-navi-box img {
    width: 35px;
    height: auto;
    display: inline-block;
    opacity: .9;
    transition: opacity .1s linear 0s; }
  .md-content .pdficon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-left: 2px; }
  .md-content .tsv {
    width: 45px;
    vertical-align: middle; }
  .md-content .right-alignment {
    float: right; }
    .md-content .right-alignment a {
      font-weight: normal; }
  .md-content .life-size {
    width: auto; }
  .md-content sup {
    vertical-align: super; }
  .md-content .flow {
    color: #000000;
    list-style: none;
    overflow: hidden;
    padding: 10px 0;
    border-radius: 4px 4px 0 0;
    margin: 0; }
    .md-content .flow li {
      color: #000000;
      display: block;
      float: left;
      font-size: 13px;
      min-width: 100px;
      border-bottom: 1px solid #bbb;
      border-top: 1px solid #bbb;
      text-decoration: none;
      text-align: center;
      margin: 0; }
      .md-content .flow li:before {
        content: " ";
        border-right: 1px solid #bbb;
        border-top: 1px solid #bbb;
        float: right;
        height: 31px;
        transform: skew(30deg);
        width: 30px; }
      .md-content .flow li:after {
        content: " ";
        display: block;
        border-bottom: 1px solid #bbb;
        border-right: 1px solid #bbb;
        width: 30px;
        height: 31px;
        position: relative;
        transform: skew(-30deg); }
      .md-content .flow li:first-child {
        background: linear-gradient(#FEFEFE, #F3F5F5);
        border-left: 1px solid #bbb;
        padding-left: 10px; }
        .md-content .flow li:first-child::before {
          background: linear-gradient(#FEFEFE, #F9FAFA);
          margin: -1px -30px -30px auto; }
        .md-content .flow li:first-child:after {
          background: linear-gradient(#F9FAFA, #F4F6F6);
          margin: -30px -30px -1px auto; }
      .md-content .flow li:nth-child(2) {
        background: linear-gradient(#e5e9e9, #f1f1f1);
        text-align: center; }
        .md-content .flow li:nth-child(2):before {
          background: linear-gradient(#f1f1f1, #ebeeee);
          margin: -1px -30px -30px auto; }
        .md-content .flow li:nth-child(2):after {
          background: linear-gradient(#ebeeee, #e6ebeb);
          margin: -30px -30px -1px auto; }
      .md-content .flow li:last-child {
        background: linear-gradient(#e5e5e5, #d7dede);
        line-height: 20px;
        padding: 10px 10px 0px 40px; }
        .md-content .flow li:last-child::before {
          background: linear-gradient(#e5e5e5, #dde3e3);
          display: block;
          margin: -11px -30px -30px auto; }
        .md-content .flow li:last-child::after {
          background: linear-gradient(#dde3e3, #d8dfdf);
          content: " ";
          margin: -20px -30px -1px auto; }
  .md-content .flow_ja li:first-child {
    line-height: 60px;
    padding: 0 10px 0 40px;
    text-align: center; }
  .md-content .flow_ja li:nth-child(2) {
    line-height: 60px;
    padding: 0 10px 0 40px; }
    .md-content .flow_ja li:nth-child(2):before {
      margin: -1px -30px -30px auto; }
    .md-content .flow_ja li:nth-child(2):after {
      margin: -30px -30px -1px auto; }
  .md-content .flow_en li:first-child {
    line-height: 20px;
    padding: 10px 10px 0 40px;
    text-align: left; }
  .md-content .flow_en li:nth-child(2) {
    line-height: 20px;
    padding: 10px 10px 0 40px; }
    .md-content .flow_en li:nth-child(2):after {
      margin: -20px -30px -1px auto; }
  .md-content .ja li:first-child:before {
    margin: -1px -30px -30px auto; }
  .md-content .ja li:first-child:after {
    margin: -30px -30px -1px auto; }
  .md-content .en li:first-child:before {
    margin: -11px -30px -30px auto; }
  .md-content .en li:first-child:after {
    margin: -20px -30px -1px auto; }
  .md-content .flow_en li:nth-child(2)::before {
    margin: -11px -30px -30px auto; }
  .md-content #page_main #biosample_attr_area .name a:link, .md-content #page_main #biosample_attr_area .name a:visited, .md-content #page_main #biosample_attr_area .name a:hover {
    color: #000000; }
  .md-content #biosample_attr_area {
    padding: 2px 0 0 0;
    border-collapse: collapse;
    background: white; }
  .md-content #biosample_attr_area table#biosample_attr_table thead {
    line-height: 1.4;
    background: #ddd;
    color: #666;
    background: #FBEBD3; }
    .md-content #biosample_attr_area table#biosample_attr_table thead th {
      border-top: none;
      border-bottom: none;
      border-left: none;
      border-right: 1px solid #CCCCCC;
      padding: 2px 4px;
      text-align: left;
      vertical-align: top; }
  .md-content #biosample_attr_area table#biosample_attr_table tbody {
    border: 0; }
    .md-content #biosample_attr_area table#biosample_attr_table tbody tr {
      border-bottom: 1px solid #ddd;
      border-left: 1px solid #ddd; }
      .md-content #biosample_attr_area table#biosample_attr_table tbody tr td {
        border: 1px solid #ccc;
        padding: 2px 4px;
        text-align: left;
        vertical-align: top; }
  .md-content #biosample_attr_area table td.name {
    white-space: nowrap; }
  .md-content #sample_type > ul > li > ul, .md-content #env_package {
    display: none; }
  .md-content #main_index.biosample_attr .radio {
    float: left;
    margin-right: 3px; }
  .md-content #main_index.biosample_attr input {
    vertical-align: middle;
    margin-bottom: 3px; }
  .md-content #main_index.biosample_attr .radio.required {
    outline: 1px solid #FF0000; }
  .md-content #page_main .biosample_attr a:visited {
    color: #039; }
  .md-content #page_main .biosample_attr a:hover {
    color: #039;
    text-decoration: underline; }
  .md-content #main_index.biosample_attr {
    list-style: none; }
  .md-content #sample_type, .md-content #env_package {
    border: 1px solid #999999;
    padding: 5px 10px;
    width: 450px;
    border-radius: 5px; }
  .md-content #sample_type {
    margin-top: 5px;
    margin-bottom: 15px; }
  .md-content #main_index.biosample_attr ul {
    margin-bottom: 0; }
    .md-content #main_index.biosample_attr ul li {
      margin-bottom: 2px; }
  .md-content #main_index.biosample_attr > ul > li {
    margin-top: 5px; }
    .md-content #main_index.biosample_attr > ul > li > ul > li:last-child {
      margin-bottom: 5px; }
  .md-content #page_main #main_index.biosample_attr {
    font-weight: bold; }
  .md-content #main_index.biosample_attr {
    color: #000000;
    font-size: 90%; }
  .md-content #definition {
    margin: 10px 0 20px 0; }
  .md-content #biosample_attr_area .description {
    word-wrap: break-word; }
  .md-content #biosample_attr_area .value {
    word-wrap: break-word;
    width: 15%; }

.multi-column-view {
  border-top: 1px solid #1C1B19; }
  .multi-column-view .caption {
    font-size: 16px;
    display: inline-block;
    color: #FF7300;
    margin-bottom: 16px; }
  .multi-column-view .navigation {
    columns: 3 auto; }
    .multi-column-view .navigation.-two {
      column-colunt: 2; }
    .multi-column-view .navigation.-three {
      column-colunt: 3; }
    .multi-column-view .navigation nav li {
      font-size: 14px;
      margin-bottom: 17px; }

.page-title > .title {
  margin-bottom: .3rem;
  font-size: 3.2rem;
  line-height: 1.2;
  font-weight: lighter; }

.page-title > .breadcrumb {
  font-size: 1.2rem;
  line-height: 1;
  padding: 0.4rem 0; }
  .page-title > .breadcrumb > ul > li {
    display: inline-block; }
    .page-title > .breadcrumb > ul > li + li:before {
      content: ">";
      margin: 0 .75rem 0 0.5rem; }

.search-box > * {
  height: 3rem;
  vertical-align: top; }

.search-box > select {
  border: none;
  background-color: white; }

.search-box > input[type="text"] {
  padding: 0 1rem;
  width: 26rem;
  -webkit-appearance: none;
  border: none; }

.search-box > button {
  width: 3rem;
  border: none;
  background-color: #FF7300;
  position: relative; }
  .search-box > button:before, .search-box > button:after {
    content: "";
    position: absolute;
    display: block; }
  .search-box > button:before {
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    border: solid 1px white;
    top: .8rem;
    left: .8rem; }
  .search-box > button:after {
    height: .7rem;
    border-right: solid 1px white;
    transform: rotate(-45deg);
    top: 1.8rem;
    left: 1.8rem; }

.search-box[data-color="white"] > select {
  background-color: #F5F4F2;
  border: solid 1px #d2cac4; }

.search-box[data-color="white"] > input[type="text"] {
  border: solid 1px #d2cac4; }

@media screen and (max-width: 480px) {
  .search-box > input[type="text"] {
    border-top: solid 1px #d2cac4;
    border-bottom: solid 1px #d2cac4;
    border-left: solid 1px #d2cac4;
    margin-right: -.4rem; } }

.service-tag {
  font-weight: bold;
  line-height: 1.6;
  background-color: #FCC93D;
  color: #1C1B19;
  border-radius: .8em;
  padding: 0 .8em;
  position: relative; }
  .service-tag > .count {
    font-size: .8rem;
    background-color: white;
    vertical-align: middle;
    display: inline-block;
    border-radius: 1.1em;
    padding: 0;
    text-align: center;
    min-width: 2em;
    position: relative;
    top: -.2em; }
  .service-tag.-reverse {
    background-color: #6D5C3F;
    color: white; }
    .service-tag.-reverse > .count {
      color: #1C1B19; }
  .service-tag.-disable {
    background-color: #F5F4F2;
    color: #736357; }
    .service-tag.-disable > .count {
      color: #736357; }

.tags-view > .tag {
  color: #FF7300;
  font-weight: bold;
  text-decoration: none; }
  .tags-view > .tag + .tag {
    margin-left: .5em; }

#Body {
  background-color: white; }
  #Body > .inner {
    margin: 0 auto;
    max-width: 128rem;
    padding: 2rem 3rem 4rem;
    font-size: 1.4rem;
    line-height: 1.4; }
    #Body > .inner.-stretched {
      max-width: 100%; }

@media screen and (max-width: 480px) {
  #Body > .inner {
    width: auto;
    padding-left: 2rem;
    padding-right: 2rem; } }

#CommonHeader {
  height: 4rem;
  background-color: black;
  color: white;
  font-size: 1.2rem;
  line-height: 4rem; }
  #CommonHeader a {
    color: white; }
  #CommonHeader > .inner {
    margin: 0 auto;
    max-width: 128rem;
    padding: 0 1rem;
    height: 4rem;
    display: flex; }
    #CommonHeader > .inner.-stretched {
      max-width: 100%; }
    #CommonHeader > .inner .spcollapsemenubutton {
      display: none; }
    #CommonHeader > .inner > .logocontainer > .logotype {
      margin-left: 1.6rem;
      display: block;
      text-indent: -9999px;
      width: 6.7rem;
      height: 4rem;
      background: url(../images/logotype-inversed.svg) no-repeat 0 center; }
    #CommonHeader > .inner > .services {
      position: relative;
      padding-right: 10rem; }
      #CommonHeader > .inner > .services > .title {
        cursor: pointer;
        padding-left: 1.6rem; }
        #CommonHeader > .inner > .services > .title:after {
          content: "";
          display: inline-block;
          width: .6rem;
          height: .6rem;
          border-left: solid 1px white;
          border-bottom: solid 1px white;
          position: relative;
          transform: translateY(-0.3rem) rotate(-45deg);
          margin-left: .8rem; }
      #CommonHeader > .inner > .services > .rows {
        padding: 1.6rem 0rem 2.4rem;
        display: flex;
        justify-content: center;
        position: absolute;
        left: -9.3rem;
        max-width: 128rem;
        background-color: #1C1B19;
        font-size: 1.4rem;
        line-height: 2rem;
        opacity: 0;
        transform: translateY(-1rem);
        pointer-events: none;
        z-index: 99999999;
        transition: opacity 0.2s, transform 0.2s; }
        #CommonHeader > .inner > .services > .rows > .row {
          margin: 0 4rem; }
          #CommonHeader > .inner > .services > .rows > .row > .group + .group {
            margin-top: 2.8rem; }
          #CommonHeader > .inner > .services > .rows > .row > .group > .grouptitle {
            color: #ff9905;
            padding: 0.4rem 0; }
          #CommonHeader > .inner > .services > .rows > .row > .group > ul > li {
            padding: 0.4rem 0; }
      #CommonHeader > .inner > .services:hover > .rows {
        opacity: 1;
        transform: translateY(0rem);
        pointer-events: auto; }
    #CommonHeader > .inner > .navigation {
      flex-grow: 2;
      text-align: right; }
      #CommonHeader > .inner > .navigation > ul > li {
        display: inline-block;
        margin-left: 1rem; }

@media screen and (max-width: 480px) {
  #CommonHeader {
    z-index: 10000000; }
    #CommonHeader > .inner {
      width: auto;
      padding: 0; }
      #CommonHeader > .inner a {
        color: black;
        text-decoration: none; }
      #CommonHeader > .inner .spcollapsemenu {
        display: block !important;
        background-color: #FF7300 !important;
        padding: 0.8rem 0 !important;
        width: 100vw !important;
        position: absolute !important;
        left: 0 !important;
        top: 4rem !important;
        z-index: 10000000 !important;
        text-align: left !important;
        opacity: 0 !important;
        transform: translateY(-1rem) !important;
        pointer-events: none !important;
        transition: opacity 0.2s, transform 0.2s; }
      #CommonHeader > .inner .spcollapsemenubutton {
        display: block;
        padding: 0 1rem;
        font-size: 1.4rem; }
        #CommonHeader > .inner .spcollapsemenubutton.-opened {
          background-color: #FF7300; }
          #CommonHeader > .inner .spcollapsemenubutton.-opened + .spcollapsemenu {
            opacity: 1 !important;
            transform: translateY(0rem) !important;
            pointer-events: auto !important; }
      #CommonHeader > .inner > .logocontainer {
        flex-grow: 2; }
      #CommonHeader > .inner > .services {
        position: static;
        padding-right: 0; }
        #CommonHeader > .inner > .services > .title {
          display: none; }
        #CommonHeader > .inner > .services > .rows {
          width: auto; }
          #CommonHeader > .inner > .services > .rows > .row {
            margin: 0; }
            #CommonHeader > .inner > .services > .rows > .row + .row {
              margin-top: 1.4rem; }
            #CommonHeader > .inner > .services > .rows > .row > .group + .group {
              margin-top: 1.4rem; }
            #CommonHeader > .inner > .services > .rows > .row > .group > .grouptitle {
              padding: 0 2rem;
              color: white;
              line-height: 4rem; }
      #CommonHeader > .inner > .navigation {
        flex-grow: 0; }
        #CommonHeader > .inner > .navigation > ul > li {
          display: block; }
      #CommonHeader > .inner > .services > .spcollapsemenu > .row > .group > ul > li, #CommonHeader > .inner .navigation > ul > li {
        padding: 0 2rem;
        margin: 0;
        line-height: 4rem; } }

#Footer {
  text-align: center;
  background: url(../images/central-dogma.svg) repeat 50% 50%;
  background-size: 65px;
  background-attachment: fixed; }
  #Footer > .top > .inner, #Footer > .bottom > .inner {
    margin: 0 auto;
    max-width: 128rem; }
    #Footer > .top > .inner.-stretched, #Footer > .bottom > .inner.-stretched {
      max-width: 100%; }
  #Footer > .top {
    padding: 3rem 0; }
    #Footer > .top > .inner > .sitemap {
      margin-bottom: 2rem; }
      #Footer > .top > .inner > .sitemap > .group {
        display: inline-block;
        text-align: left;
        vertical-align: top; }
        #Footer > .top > .inner > .sitemap > .group + .group {
          margin-left: 3rem; }
        #Footer > .top > .inner > .sitemap > .group > .title {
          font-size: 1.4rem;
          line-height: 1.8; }
        #Footer > .top > .inner > .sitemap > .group > ul {
          font-size: 1.2rem;
          line-height: 1.6; }
    #Footer > .top > .inner > .information {
      margin-bottom: 2rem; }
      #Footer > .top > .inner > .information > ul > li {
        display: inline-block;
        font-size: 1.4rem;
        vertical-align: middle; }
        #Footer > .top > .inner > .information > ul > li + li {
          margin-left: 3rem; }
        #Footer > .top > .inner > .information > ul > li > a > img {
          width: 4rem; }
    #Footer > .top > .inner > .partners > ul > li {
      display: inline-block; }
      #Footer > .top > .inner > .partners > ul > li + li {
        margin-left: 3rem; }
  #Footer > .bottom {
    background-color: rgba(28, 27, 25, 0.8); }
    #Footer > .bottom > .inner > .links {
      padding: 1.6rem 0; }
      #Footer > .bottom > .inner > .links > ul > li {
        display: inline-block; }
        #Footer > .bottom > .inner > .links > ul > li + li {
          margin-left: 2rem; }
        #Footer > .bottom > .inner > .links > ul > li a {
          color: white;
          font-size: 1.2;
          line-height: 2; }
        #Footer > .bottom > .inner > .links > ul > li address {
          font-style: normal; }

@media screen and (max-width: 480px) {
  #Footer > .top > .inner, #Footer > .bottom > .inner {
    width: auto; }
  #Footer > .top > .inner > .sitemap {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2rem; }
    #Footer > .top > .inner > .sitemap > .group {
      width: 50%;
      margin-bottom: 1rem; }
      #Footer > .top > .inner > .sitemap > .group + .group {
        margin-left: 0; }
      #Footer > .top > .inner > .sitemap > .group > ul > li > a {
        padding: .4rem 0;
        display: block; }
  #Footer > .top > .inner > .information > ul {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    #Footer > .top > .inner > .information > ul > li + li {
      margin-left: 0; }
  #Footer > .top > .inner > .partners > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
    #Footer > .top > .inner > .partners > ul > li {
      padding: 1rem 2rem; }
      #Footer > .top > .inner > .partners > ul > li + li {
        margin-left: 0; }
  #Footer > .bottom > .inner > .links > ul {
    display: flex;
    flex-wrap: wrap; }
    #Footer > .bottom > .inner > .links > ul > li {
      text-align: left;
      width: 50%;
      display: block; }
      #Footer > .bottom > .inner > .links > ul > li + li {
        margin-left: 0; }
      #Footer > .bottom > .inner > .links > ul > li > a, #Footer > .bottom > .inner > .links > ul > li > address > a {
        display: block;
        padding: 0.8rem 2rem; } }

#MainContentView > .md-content {
  padding: 2.5rem 4.2rem 2.5rem 2.5rem; }
  #MainContentView > .md-content > *:first-child {
    margin-top: 0; }

#NavigationAndMainView {
  border-bottom: 0.3rem solid #6D5C3F;
  background-color: white; }
  #NavigationAndMainView > .inner {
    margin: 0 auto;
    max-width: 128rem;
    display: flex; }
    #NavigationAndMainView > .inner.-stretched {
      max-width: 100%; }
    #NavigationAndMainView > .inner > .subview {
      width: calc( (100vw - 128rem) + 23rem);
      min-width: 23rem;
      border-right: 1px solid #282725; }
      #NavigationAndMainView > .inner > .subview > * {
        margin-left: auto;
        padding-bottom: 2rem;
        width: 23rem;
        position: sticky;
        top: 0; }
    #NavigationAndMainView > .inner > .mainview {
      width: calc( (100vw - 128rem) + (128rem - 23rem)); }
      #NavigationAndMainView > .inner > .mainview.-beige {
        background-color: #F5F4F2; }
      #NavigationAndMainView > .inner > .mainview > * {
        max-width: calc(128rem - 23rem - 4.2rem); }

#PageHeader {
  border-bottom: 1px solid #000;
  background-color: white; }
  #PageHeader > .inner {
    margin: 0 auto;
    max-width: 128rem;
    display: flex;
    justify-content: space-between;
    padding: 2.7rem 4rem 1rem; }
    #PageHeader > .inner.-stretched {
      max-width: 100%; }

.multi-column-view {
  padding: 25px 40px 25px 35px; }

#ServicesView {
  margin-right: 1rem;
  padding: 5rem 3rem 3rem 3rem;
  position: relative; }
  #ServicesView > .appearance-switch {
    font-size: 1.8rem;
    position: absolute;
    display: block;
    top: 1.6rem;
    right: 3rem; }
  #ServicesView > .container {
    list-style: none;
    position: relative;
    transition: margin 0.2s; }
    #ServicesView > .container > .service {
      position: relative;
      background-color: white;
      transition: margin 0.2s, padding 0.2s, width 0.2s; }
      #ServicesView > .container > .service > .upper > .title {
        font-size: 1.8rem;
        line-height: 1.2;
        position: relative;
        margin-bottom: .6rem; }
      #ServicesView > .container > .service > .upper > .tags {
        list-style: none;
        margin: 0 -.2rem .8rem; }
        #ServicesView > .container > .service > .upper > .tags > .service-tag {
          display: inline-block; }
      #ServicesView > .container > .service > .description {
        font-size: 1.2rem;
        line-height: 1.4; }
      #ServicesView > .container > .service > .links {
        position: absolute;
        right: 1.2rem; }
        #ServicesView > .container > .service > .links > ul {
          text-align: right; }
          #ServicesView > .container > .service > .links > ul > li {
            display: inline-block; }
            #ServicesView > .container > .service > .links > ul > li + li {
              margin-left: 1rem; }
      #ServicesView > .container > .service.-hidden {
        display: none; }
  #ServicesView[data-appearance-type="panel"] > .container {
    display: flex;
    flex-wrap: wrap;
    margin-right: -2rem; }
    #ServicesView[data-appearance-type="panel"] > .container > .service {
      margin: 0 2rem 2rem 0;
      padding: 1.6rem 1.6rem 3.2rem;
      width: calc( 100% / 3 - 2rem); }
      #ServicesView[data-appearance-type="panel"] > .container > .service > .links {
        bottom: 1rem; }
  #ServicesView[data-appearance-type="list"] > .container > .service {
    padding: 1rem 1.2rem; }
    #ServicesView[data-appearance-type="list"] > .container > .service + .service {
      margin-top: .4rem; }
    #ServicesView[data-appearance-type="list"] > .container > .service > .upper > * {
      display: inline-block;
      vertical-align: middle; }
    #ServicesView[data-appearance-type="list"] > .container > .service > .upper > .tags {
      margin-left: 1rem; }
    #ServicesView[data-appearance-type="list"] > .container > .service > .links {
      top: 1rem; }

#TopBody {
  background-color: rgba(253, 253, 253, 0.8); }
  #TopBody > .inner {
    margin: 0 auto;
    max-width: 128rem;
    padding: 0 4.2rem 4.2rem;
    display: flex; }
    #TopBody > .inner.-stretched {
      max-width: 100%; }
    #TopBody > .inner > #TopServiceGroups {
      width: 82.4rem;
      flex-grow: 2; }
    #TopBody > .inner > #TopNews {
      width: 32rem; }

@media screen and (max-width: 480px) {
  #TopBody > .inner {
    width: auto;
    padding: 2rem 0;
    flex-direction: column; }
    #TopBody > .inner > #TopServiceGroups {
      order: 2;
      width: auto; }
    #TopBody > .inner > #TopNews {
      order: 1;
      width: auto; } }

#TopHeader > .inner {
  margin: 0 auto;
  max-width: 128rem;
  height: 14.6rem;
  position: relative; }
  #TopHeader > .inner.-stretched {
    max-width: 100%; }
  #TopHeader > .inner > .first > * {
    position: absolute; }
  #TopHeader > .inner > .first > .logotype {
    text-indent: -9999px;
    background: url(../images/logotype.svg) no-repeat 0 0;
    width: 18rem;
    height: 6.5rem;
    top: 3.2rem;
    left: 3.4rem; }
  #TopHeader > .inner > .first > .mission {
    font-size: 1.4rem;
    line-height: 1.5;
    top: 3.2rem;
    left: 24.2rem; }
  #TopHeader > .inner > .second > .search-box {
    position: absolute;
    top: 3.7rem;
    right: 4.2rem; }

@media screen and (max-width: 480px) {
  #TopHeader > .inner {
    width: auto;
    height: auto; }
    #TopHeader > .inner > .first {
      padding: 1rem; }
      #TopHeader > .inner > .first > * {
        margin: 0 auto;
        position: relative; }
      #TopHeader > .inner > .first > .logotype {
        margin: 2rem auto 1.6rem;
        width: 36vw;
        height: 13vw;
        top: 0;
        left: 0; }
      #TopHeader > .inner > .first > .mission {
        top: 0;
        left: 0;
        text-align: center; }
    #TopHeader > .inner > .second {
      padding: 1rem 1rem 2rem; }
      #TopHeader > .inner > .second > .search-box {
        text-align: center;
        position: relative;
        top: 0;
        right: 0; }
        #TopHeader > .inner > .second > .search-box > select {
          display: block;
          margin: 0 auto .6rem; } }

#TopNews > .container {
  background-color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.18);
  position: relative;
  top: -3.8rem; }
  #TopNews > .container > .title {
    padding: 0 1.6rem;
    height: 3.8rem;
    line-height: 3.8rem;
    font-size: 1.6rem;
    color: white;
    background: linear-gradient(90deg, #FF7300 0%, #ff9905 100%); }
  #TopNews > .container > .list {
    list-style: none; }
    #TopNews > .container > .list > .item > .news {
      transition: background-color 0.2s; }
      #TopNews > .container > .list > .item > .news:hover {
        background-color: rgba(255, 191, 0, 0.15); }
      #TopNews > .container > .list > .item > .news > a {
        padding: 1rem 1.6rem;
        display: block;
        border-bottom: solid 1px #ccc;
        text-decoration: none; }
        #TopNews > .container > .list > .item > .news > a > .metadata {
          line-height: 1.2;
          margin-bottom: .2rem; }
          #TopNews > .container > .list > .item > .news > a > .metadata > * {
            display: inline-block; }
          #TopNews > .container > .list > .item > .news > a > .metadata > time {
            color: #736357; }
          #TopNews > .container > .list > .item > .news > a > .metadata > .tags {
            color: #FF7300; }
            #TopNews > .container > .list > .item > .news > a > .metadata > .tags > .tag {
              margin-left: .8rem; }
        #TopNews > .container > .list > .item > .news > a > .title {
          font-size: 1.4rem;
          font-weight: bold;
          line-height: 1.3;
          color: #1C1B19; }
      #TopNews > .container > .list > .item > .news.priority > a {
        background-color: rgba(255, 229, 0, 0.2); }
  #TopNews > .container > .arrowed-link {
    padding: 0 1.6rem;
    font-size: 1.4rem;
    line-height: 4rem;
    display: block;
    text-align: right; }
    #TopNews > .container > .arrowed-link:hover {
      background-color: rgba(255, 191, 0, 0.15); }

@media screen and (max-width: 480px) {
  #TopNews {
    padding: 0 2rem; }
    #TopNews > .container {
      top: 0; } }

#TopServiceGroups {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-top: 3.6rem; }
  #TopServiceGroups > .group {
    margin-right: 2rem;
    margin-bottom: 2rem;
    flex-basis: 25rem; }
    #TopServiceGroups > .group > a {
      padding: 3.6rem 0;
      text-decoration: none;
      color: inherit;
      background-color: white;
      display: block;
      width: 25rem;
      height: 20rem;
      border: solid 1px #F5F4F2;
      transition: border-color 0.2s; }
      #TopServiceGroups > .group > a:hover {
        border-color: #ff9905; }
      #TopServiceGroups > .group > a > .title {
        text-align: center;
        font-size: 1.6rem;
        font-weight: normal;
        margin-bottom: 1rem; }
        #TopServiceGroups > .group > a > .title > img {
          height: 5.9rem;
          vertical-align: middle;
          margin-left: -.8rem; }
      #TopServiceGroups > .group > a > .description {
        padding: 0 3.6rem;
        font-size: 1.2rem;
        line-height: 1.6rem; }

@media screen and (max-width: 480px) {
  #TopServiceGroups > .group {
    width: 50%;
    margin: 0;
    flex-basis: auto; }
    #TopServiceGroups > .group.-double {
      width: 100%; }
    #TopServiceGroups > .group > a {
      width: auto;
      height: 100%; } }

._bg-dbcls {
  background-color: #004098 !important; }

._padding-bottom-5rem {
  padding-bottom: 5rem; }

/*# sourceMappingURL=main.css.map */