@charset "UTF-8";
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700,900");
* {
  box-sizing: border-box; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fa-light-300.eot");
  src: url("../fonts/fa-light-300.eot") format("embedded-opentype"), url("../fonsfa-light-300.woff2") format("woff2"), url("../fonts/fa-light-300.woff") format("woff"), url("../fonts/fa-light-300.ttf") format("truetype"), url("../fonts/fa-light-300.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  height: 100%;
  font-size: 10px; }

body {
  background-color: #EDECEA;
  font-family: "Roboto Condensed", "Noto Sans JP","Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,sans-serif;
  height: 100%;
  min-width: 96rem;
  color: #1C1B19;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

a {
  color: #1C1B19;
  transition: color 0.2s; }
  a:active, a:hover {
    color: #FF7300; }

input, textarea, select, button {
  outline: none;
  transition: box-shadow 0.2s; }
  input:focus, textarea:focus, select:focus, button:focus {
    box-shadow: 0 0 0.8rem #ff9905; }

@media screen and (max-width: 480px) {
  body {
    width: 100%;
    min-width: auto; } }

.appearance-switch > .button {
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  cursor: pointer; }
  .appearance-switch > .button.-current {
    cursor: auto; }
  .appearance-switch > .button + .button {
    margin-left: .6em; }
  .appearance-switch > .button:before {
    content: "";
    display: block;
    position: absolute; }
  .appearance-switch > .button[data-appearance-value="panel"]:before {
    width: .4em;
    height: .4em;
    background-color: #d2cac4;
    box-shadow: 0.6em 0 0 #d2cac4, 0 0.6em 0 0 #d2cac4, 0.6em 0.6em 0 #d2cac4; }
  .appearance-switch > .button[data-appearance-value="list"]:before {
    width: 1em;
    height: .2em;
    background-color: #d2cac4;
    box-shadow: 0 0.4em 0 #d2cac4, 0 0.8em 0 #d2cac4; }
  .appearance-switch > .button[data-appearance-value="panel"]:hover:before, .appearance-switch > .button.-current[data-appearance-value="panel"]:before {
    background-color: #fcac3d;
    box-shadow: 0.6em 0 0 #fcac3d, 0 0.6em 0 0 #fcac3d, 0.6em 0.6em 0 #fcac3d; }
  .appearance-switch > .button[data-appearance-value="list"]:hover:before, .appearance-switch > .button.-current[data-appearance-value="list"]:before {
    background-color: #fcac3d;
    box-shadow: 0 0.4em 0 #fcac3d, 0 0.8em 0 #fcac3d; }

.arrowed-link {
  font-weight: bold;
  text-decoration: none;
  color: #6D5C3F; }
  .arrowed-link:after {
    content: "";
    display: inline-block;
    border-top: .57rem solid transparent;
    border-right: 0.57rem solid #FF7300;
    margin-left: .36rem; }

.breadcrumb-view {
  line-height: 1;
  background-color: #F5F4F2;
  font-size: 0; }
  .breadcrumb-view > ul > li {
    background-color: #FF7300;
    display: inline-block;
    position: relative;
    padding: .3rem .8rem .3rem 1.4rem; }
    .breadcrumb-view > ul > li:first-child {
      padding-left: 1rem; }
    .breadcrumb-view > ul > li::before, .breadcrumb-view > ul > li::after {
      content: "";
      display: block;
      position: absolute;
      border-style: solid;
      border-width: .8rem 0 .8rem .5rem;
      border-color: transparent;
      top: 0;
      z-index: 1; }
    .breadcrumb-view > ul > li::before {
      right: -.6rem;
      border-left-color: white; }
    .breadcrumb-view > ul > li::after {
      right: -.5rem;
      border-left-color: #FF7300; }
    .breadcrumb-view > ul > li > a {
      font-size: 1rem;
      font-weight: bold;
      color: white;
      text-decoration: none; }

.columns-view {
  display: flex;
  justify-content: space-between; }
  .columns-view.-two > .column {
    width: calc(100% / 2 - 3rem); }
  .columns-view.-three > .column {
    width: calc(100% / 3 - 3rem); }
  .columns-view.-four > .column {
    width: calc(100% / 4 - 3rem); }

@media screen and (max-width: 480px) {
  .columns-view {
    display: inherit; }
    .columns-view.-two > .column, .columns-view.-three > .column, .columns-view.-four > .column {
      width: 100%; } }

.facet-search {
  padding: 0 1.6rem 0 4rem; }
  .facet-search > .title {
    font-size: 1.4rem;
    margin-bottom: 1.2rem; }
  .facet-search .tags {
    margin-left: -.9rem; }
    .facet-search .tags > .tag-view {
      border-radius: 1.2em;
      margin-bottom: .4rem;
      padding-top: .6rem;
      padding-bottom: .6rem;
      padding-right: .5rem;
      line-height: 1;
      font-size: 1.2rem;
      cursor: pointer;
      align-items: center;
      display: flex; }
      .facet-search .tags > .tag-view > .label {
        flex-grow: 1; }
      .facet-search .tags > .tag-view > .count {
        line-height: 1.6; }
  .facet-search > .tab-menu-view {
    margin-right: -1.6rem;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 2rem; }
    .facet-search > .tab-menu-view > .tabmenucontainer {
      margin-bottom: 1.4rem; }
      .facet-search > .tab-menu-view > .tabmenucontainer > li.-current > a {
        line-height: 2.2rem; }

.google-visualization-table-table {
  margin-bottom: 1rem; }

.internal-link {
  padding: 1.4rem 1.6rem 2.4rem 4rem; }
  .internal-link > .title {
    font-size: 1.4rem;
    margin-bottom: 1rem; }
  .internal-link > ul {
    word-break: break-all; }
    .internal-link > ul li {
      font-size: 1.4rem;
      list-style: none; }
      .internal-link > ul li ul {
        margin-left: 1rem; }
        .internal-link > ul li ul li {
          font-size: 1.2rem;
          list-style: none; }
      .internal-link > ul li a {
        color: #d2cac4;
        text-decoration: none;
        display: block;
        margin-bottom: 1rem;
        font-weight: bold; }
        .internal-link > ul li a.current {
          color: #1C1B19; }
        .internal-link > ul li a:hover {
          color: #FF7300;
          text-decoration: underline; }
        .internal-link > ul li a span {
          font-size: 1.1rem;
          font-weight: normal;
          margin-left: 1rem; }

.list-view > .listtitle {
  background: #1C1B19;
  color: white;
  font-size: 1.2em;
  padding: 0.5rem 0.6rem; }

.list-view > .list {
  list-style: none; }
  .list-view > .list > .item {
    padding: 1rem 0;
    border-bottom: solid 1px #ccc; }
    .list-view > .list > .item > .title {
      margin-bottom: .2em; }
    .list-view > .list > .item > .detail {
      font-size: 0.85em; }
    .list-view > .list > .item > .tags-view {
      font-size: .9em; }

.list-view + .list-view {
  margin-top: 1em; }

.md-content {
  font-size: 1.4rem;
  line-height: 1.8;
  /* 幅を調整 */ }
  .md-content .highlight {
    overflow: auto; }
  .md-content a[href^="http"]:after, .md-content a[href^="//"]:after {
    content: '';
    background-image: url(../images/parts/external_link.png);
    background-repeat: no-repeat;
    width: 1.6rem;
    height: 1.6rem;
    margin: 0 .4rem;
    display: inline-block;
    background-size: 1.4rem;
    vertical-align: middle; }
  .md-content a[href*="ddbj.nig.ac.jp"]:after, .md-content a[href*="youtu.be"]:after, .md-content a.withoutpseudoelement:after {
    display: none; }
  .md-content .group1 {
    text-decoration: none; }
  .md-content img {
    width: auto; }
  .md-content .w40 {
    width: 4rem; }
  .md-content .w200 {
    width: 20rem; }
  .md-content .w250 {
    width: 25rem; }
  .md-content .w300 {
    width: 30rem; }
  .md-content .w320 {
    width: 32rem; }
  .md-content .w400 {
    width: 40rem; }
  .md-content .w450 {
    width: 45rem; }
  .md-content .w500 {
    width: 50rem; }
  .md-content .w550 {
    width: 55rem; }
  .md-content .w600 {
    width: 60rem; }
  .md-content .w630 {
    width: 63rem; }
  .md-content .w650 {
    width: 65rem; }
  .md-content .pdf {
    width: 2.5rem;
    height: 2.5rem; }
  .md-content > p, .md-content > table, .md-content > ol, .md-content > ul, .md-content > dl, .md-content > figure, .md-content > .highlighter-rouge {
    margin-bottom: 1rem; }
  .md-content .red {
    color: #FF0000; }
    .md-content .red * {
      color: #FF0000; }
  .md-content .blue {
    color: #0000ff; }
  .md-content .conditionally_required {
    color: #009B00; }
  .md-content h2 {
    font-size: 1.8rem;
    line-height: 1.2;
    margin-top: 2.4rem;
    margin-bottom: 1.5rem;
    border-left: solid 0.6rem #FF7300;
    padding-left: .9rem; }
  .md-content h3 {
    font-size: 1.6rem;
    border-bottom: 0.2rem solid #FEC091;
    margin-bottom: 1.6rem; }
  .md-content h2, .md-content h3 {
    cursor: pointer; }
  .md-content .link-icon {
    background-image: url(/www/assets/images/parts/link.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 .3rem; }
  .md-content ul li {
    padding: .4rem 0;
    line-height: 1.6;
    margin-left: 2rem; }
    .md-content ul li .title {
      font-weight: bold; }
  .md-content ol {
    counter-reset: my-counter;
    list-style: none;
    padding: 0; }
    .md-content ol li {
      margin-bottom: 1rem;
      padding-left: 2.9rem;
      position: relative; }
      .md-content ol li:before {
        content: counter(my-counter);
        counter-increment: my-counter;
        background-color: #fcac3d;
        color: #1C1B19;
        display: block;
        line-height: 2rem;
        margin-left: -2.6rem;
        text-align: center;
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        position: absolute;
        top: .3rem;
        left: 2.8rem; }
      .md-content ol li.decrement:before {
        counter-increment: my-counter +0; }
      .md-content ol li ul li {
        padding-left: 0; }
        .md-content ol li ul li:before {
          content: none; }
  .md-content dl {
    line-height: 1.4; }
    .md-content dl dt, .md-content dl dd {
      padding: .6rem 0; }
    .md-content dl dt {
      font-weight: bold; }
    .md-content dl + dt {
      margin-top: 1rem; }
    .md-content dl dd * {
      margin-bottom: 1rem; }
  .md-content .dl-list {
    margin-bottom: 2rem; }
    .md-content .dl-list dt {
      float: left; }
    .md-content .dl-list dd {
      margin-left: 8.5rem; }
  .md-content caption, .md-content figcaption, .md-content .tablecaption {
    caption-side: bottom;
    font-size: 1.2rem;
    color: #666;
    text-align: left;
    line-height: initial; }
  .md-content caption, .md-content figcaption {
    margin-top: .5rem; }
  .md-content .tablecaption {
    margin-bottom: .5rem;
    display: block; }
  .md-content table {
    width: 100%;
    border: 0.1rem solid #736357;
    line-height: 1.2;
    font-size: 1.2rem; }
    .md-content table thead tr th {
      border-bottom: 0.1rem solid #736357; }
    .md-content table tr.separatorline {
      background-color: #736357;
      color: white;
      font-weight: bold; }
    .md-content table tr th {
      text-align: left;
      font-weight: bold;
      white-space: nowrap; }
    .md-content table tr td, .md-content table tr th {
      padding: .6rem .6rem .6rem .6rem;
      border-bottom: 0.1rem solid #ccc;
      vertical-align: middle; }
      .md-content table tr td.borderbtm, .md-content table tr th.borderbtm {
        border-bottom: 0.1rem solid #736357; }
    .md-content table tr:last-child > td, .md-content table tr:last-child th {
      border-bottom: 0.1rem solid #736357; }
    .md-content table + table {
      margin-top: -1.1rem; }
  .md-content code, .md-content pre {
    background-color: #E0E0E0;
    color: black;
    font-size: 1.2rem;
    line-height: 1.6;
    font-family: 'courier', monospace; }
  .md-content pre {
    padding: .3rem .6rem;
    display: inline-block;
    margin-bottom: 1rem; }
  .md-content code {
    white-space: break-spaces; }
  .md-content .attention {
    background-color: #FFF3DB;
    padding: 1rem 1.6rem;
    border-left: 0.6rem solid #FEC091;
    margin-bottom: 1.6rem; }
  .md-content .toggle-content-btn {
    display: flex;
    align-items: center;
    cursor: pointer; }
    .md-content .toggle-content-btn a {
      text-decoration: none;
      position: relative; }
    .md-content .toggle-content-btn::after {
      content: "";
      display: inline-block;
      width: .4rem;
      height: .4rem;
      margin-left: .5rem;
      margin-right: -.5rem;
      border-top: 0.2rem solid #FF7300;
      border-right: 0.2rem solid #FF7300;
      transform: translateY(-35%) rotate(135deg); }
    .md-content .toggle-content-btn.active::after {
      transform: rotate(315deg); }
  .md-content .accordion-menu div.accordion-content {
    margin: 0;
    display: none; }
  .md-content .close-content-btn {
    text-align: right;
    display: block; }
  .md-content .float-left {
    float: left;
    width: 48%; }
  .md-content .float-right {
    float: right;
    width: 48%; }
    .md-content .float-right img {
      width: 100%; }
  .md-content .float-release {
    clear: both; }
  .md-content .text-align-end {
    text-align: end; }
  .md-content .feeds img {
    height: 2rem;
    vertical-align: text-bottom;
    margin-right: .2rem; }
  .md-content .start-button {
    text-align: center;
    padding: .5rem 2rem .5rem .5rem;
    margin: 2rem 2rem;
    background-color: #FEC091; }
  .md-content .nsss-menu {
    display: flex; }
    .md-content .nsss-menu .nsss-icon {
      width: 10rem;
      text-align: center; }
      .md-content .nsss-menu .nsss-icon img {
        width: 3.5rem;
        height: auto; }
  .md-content .db-top-navi-box img {
    width: 3.5rem;
    height: auto;
    display: inline-block;
    opacity: .9;
    transition: opacity .1s linear 0s; }
  .md-content .pdficon {
    width: 2.4rem;
    height: 2.4rem;
    vertical-align: middle;
    margin-left: .2rem; }
  .md-content .webpageicon {
      width: 30px; }
  .md-content .tsv {
    width: 4.5rem;
    vertical-align: middle; }
  .md-content .right-alignment {
    float: right; }
    .md-content .right-alignment a {
      font-weight: normal; }
  .md-content .life-size {
    width: auto; }
  .md-content sup {
    vertical-align: super; }
  .md-content .news_category {
    font-size: 80%;
    color: #736357; }
    .md-content .news_category span {
      display: block;
      padding-bottom: .3rem; }
  .md-content .news_date {
    font-size: 80%;
    color: #333; }
  .md-content .flow {
    color: #000000;
    list-style: none;
    overflow: hidden;
    padding: 1rem 0;
    border-radius: .4rem .4rem 0 0;
    margin: 0; }
    .md-content .flow li {
      color: #000000;
      display: block;
      float: left;
      font-size: 1.3rem;
      min-width: 10rem;
      border-bottom: .1rem solid #bbb;
      border-top: .1rem solid #bbb;
      text-decoration: none;
      text-align: center;
      margin: 0; }
      .md-content .flow li:before {
        content: " ";
        border-right: .1rem solid #bbb;
        border-top: .1rem solid #bbb;
        float: right;
        height: 3.1rem;
        transform: skew(30deg);
        width: 3rem; }
      .md-content .flow li:after {
        content: " ";
        display: block;
        border-bottom: .1rem solid #bbb;
        border-right: .1rem solid #bbb;
        width: 3rem;
        height: 3.1rem;
        position: relative;
        transform: skew(-30deg); }
      .md-content .flow li:first-child {
        background: linear-gradient(#FEFEFE, #F3F5F5);
        border-left: .1rem solid #bbb;
        padding-left: 1rem; }
        .md-content .flow li:first-child::before {
          background: linear-gradient(#FEFEFE, #F9FAFA);
          margin: -.1rem -3rem -3rem auto; }
        .md-content .flow li:first-child:after {
          background: linear-gradient(#F9FAFA, #F4F6F6);
          margin: -3rem -3rem -.1rem auto; }
      .md-content .flow li:nth-child(2) {
        background: linear-gradient(#e5e9e9, #f1f1f1);
        text-align: center; }
        .md-content .flow li:nth-child(2):before {
          background: linear-gradient(#f1f1f1, #ebeeee);
          margin: -.1rem -3rem -3rem auto; }
        .md-content .flow li:nth-child(2):after {
          background: linear-gradient(#ebeeee, #e6ebeb);
          margin: -3rem -3rem -.1rem auto; }
      .md-content .flow li:last-child {
        background: linear-gradient(#e5e5e5, #d7dede);
        line-height: 2rem;
        padding: 1rem 1rem 0 4rem; }
        .md-content .flow li:last-child::before {
          background: linear-gradient(#e5e5e5, #dde3e3);
          display: block;
          margin: -1.1rem -3rem -3rem auto; }
        .md-content .flow li:last-child::after {
          background: linear-gradient(#dde3e3, #d8dfdf);
          content: " ";
          margin: -2rem -3rem -.1rem auto; }
  .md-content .flow_ja li:first-child {
    line-height: 6rem;
    padding: 0 1rem 0 4rem;
    text-align: center; }
  .md-content .flow_ja li:nth-child(2) {
    line-height: 6rem;
    padding: 0 1rem 0 4rem; }
    .md-content .flow_ja li:nth-child(2):before {
      margin: -.1rem -3rem -3rem auto; }
    .md-content .flow_ja li:nth-child(2):after {
      margin: -3rem -3rem -.1rem auto; }
  .md-content .flow_en li:first-child {
    line-height: 2rem;
    padding: 1rem 1rem 0 4rem;
    text-align: left; }
    .md-content .flow_en li:first-child:before {
      margin: -1.1rem -3rem -3rem auto; }
    .md-content .flow_en li:first-child:after {
      margin: -2rem -3rem -.1rem auto; }
  .md-content .flow_en li:nth-child(2) {
    line-height: 2rem;
    padding: 1rem 1rem 0 4rem; }
    .md-content .flow_en li:nth-child(2):after {
      margin: -2rem -3rem -.1rem auto; }
  .md-content .ja li:first-child:before {
    margin: -.1rem -3rem -3rem auto; }
  .md-content .ja li:first-child:after {
    margin: -3rem -3rem -.1rem auto; }
  .md-content .en li:first-child:before {
    margin: -1.1rem -3rem -3rem auto; }
  .md-content .en li:first-child:after {
    margin: -2rem -3rem -.1rem auto; }
  .md-content .flow_en li:nth-child(2)::before {
    margin: -1.1rem -3rem -3rem auto; }
  .md-content #page_main #biosample_attr_area .name a:link, .md-content #page_main #biosample_attr_area .name a:visited, .md-content #page_main #biosample_attr_area .name a:hover {
    color: #000000; }
  .md-content #biosample_attr_area {
    padding: .2rem 0 0 0;
    border-collapse: collapse;
    background: white; }
  .md-content #biosample_attr_area table#biosample_attr_table thead {
    line-height: 1.4;
    background: #ddd;
    color: #666;
    background: #FBEBD3; }
    .md-content #biosample_attr_area table#biosample_attr_table thead th {
      border-top: none;
      border-bottom: none;
      border-left: none;
      border-right: .1rem solid #CCCCCC;
      padding: .2rem .4rem;
      text-align: left;
      vertical-align: top; }
  .md-content #biosample_attr_area table#biosample_attr_table tbody {
    border: 0; }
    .md-content #biosample_attr_area table#biosample_attr_table tbody tr {
      border-bottom: .1rem solid #ddd;
      border-left: .1rem solid #ddd; }
      .md-content #biosample_attr_area table#biosample_attr_table tbody tr td {
        border: .1rem solid #ccc;
        padding: .2rem .4rem;
        text-align: left;
        vertical-align: top; }
  .md-content #biosample_attr_area table td.name {
    white-space: nowrap; }
  .md-content #sample_type > ul > li > ul, .md-content #env_package {
    display: none; }
  .md-content #main_index.biosample_attr .radio {
    float: left;
    margin-right: .3rem; }
  .md-content #main_index.biosample_attr in.prem {
    vertical-align: middle;
    margin-bottom: .3rem; }
  .md-content #main_index.biosample_attr .radio.requi.rrem {
    outline: .1rem solid #FF0000; }
  .md-content #page_main .biosample_attr a:visited {
    color: #039; }
  .md-content #page_main .biosample_attr a:hover {
    color: #039;
    text-decoration: underline; }
  .md-content #main_index.biosample_attr {
    list-style: none; }
  .md-content #sample_type, .md-content #env_package {
    border: .1rem solid #999999;
    padding: .5rem 1rem;
    width: 45rem;
    border-radius: .5rem; }
  .md-content #sample_type {
    margin-top: .5rem;
    margin-bottom: 1.5rem; }
  .md-content #main_index.biosample_attr ul {
    margin-bottom: 0; }
    .md-content #main_index.biosample_attr ul li {
      margin-bottom: .2rem; }
  .md-content #main_index.biosample_attr > ul > li {
    margin-top: .5rem; }
    .md-content #main_index.biosample_attr > ul > li > ul > li:last-child {
      margin-bottom: .5rem; }
  .md-content #page_main #main_index.biosample_attr {
    font-weight: bold; }
  .md-content #main_index.biosample_attr {
    color: #000000;
    font-size: 90%; }
  .md-content #biosample_attr_area .description {
    word-wrap: break-word; }
  .md-content #biosample_attr_area .value {
    word-wrap: break-word;
    width: 15%; }

.multi-column-view {
  border-top: 1px solid #1C1B19; }
  .multi-column-view .caption {
    font-size: 16px;
    display: inline-block;
    color: #FF7300;
    margin-bottom: 16px; }
  .multi-column-view .navigation {
    columns: 3 auto; }
    .multi-column-view .navigation.-two {
      column-colunt: 2; }
    .multi-column-view .navigation.-three {
      column-colunt: 3; }
    .multi-column-view .navigation nav li {
      font-size: 14px;
      margin-bottom: 17px; }

.page-title > .title {
  margin-bottom: .3rem;
  font-size: 3.2rem;
  line-height: 1.2;
  font-weight: lighter; }

.page-title.-small > .title {
  font-size: 2rem;
  font-weight: bold; }

.panel-view-container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: stretch; }
  .panel-view-container > .panel {
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.18);
    padding: 3.6rem 1.8rem;
    color: inherit;
    background-color: white;
    border: solid 1px #F5F4F2;
    transition: background-color 0.2s;
    margin-right: 2rem;
    margin-bottom: 2rem; }
    .panel-view-container > .panel:hover {
      background-color: rgba(255, 191, 0, 0.15); }
    .panel-view-container > .panel > a {
      display: block;
      text-decoration: none; }
      .panel-view-container > .panel > a > .title {
        display: flex;
        align-items: center;
        justify-content: center; }
        .panel-view-container > .panel > a > .title > img {
          height: 5.9rem;
          vertical-align: middle;
          margin-left: -.8rem; }
        .panel-view-container > .panel > a > .title > span {
          font-size: 1.6rem;
          line-height: 1;
          font-weight: normal; }
      .panel-view-container > .panel > a > .description {
        margin-top: 1rem;
        font-size: 1.2rem;
        line-height: 1.6rem; }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .panel-view-container > .panel {
    flex-basis: calc((100% - 2rem * 2) / 2); } }

@media screen and (min-width: 1025px) {
  .panel-view-container > .panel {
    flex-basis: calc((100% - 2rem * 3) / 3); } }

@media screen and (max-width: 480px) {
  .panel-view-container > .panel {
    width: 50%;
    margin: 0;
    flex-basis: auto; }
    .panel-view-container > .panel.-double {
      width: 100%; }
    .panel-view-container > .panel > a {
      width: auto;
      height: 100%; } }

.pickup-news-view {
  padding-top: 3rem; }
  .pickup-news-view > .container {
    background-color: white;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.18);
    position: relative; }
    .pickup-news-view > .container > .title {
      padding: 0 1.6rem;
      height: 3.8rem;
      line-height: 3.8rem;
      font-size: 1.6rem;
      color: white;
      background: linear-gradient(90deg, #FF7300 0%, #ff9905 100%); }
    .pickup-news-view > .container > .list {
      list-style: none; }
      .pickup-news-view > .container > .list > .item > .news {
        transition: background-color 0.2s; }
        .pickup-news-view > .container > .list > .item > .news:hover {
          background-color: rgba(255, 191, 0, 0.15); }
        .pickup-news-view > .container > .list > .item > .news > a {
          padding: 1rem 1.6rem;
          display: block;
          border-bottom: solid 1px #ccc;
          text-decoration: none; }
          .pickup-news-view > .container > .list > .item > .news > a > .title {
            font-size: 1.4rem;
            font-weight: bold;
            line-height: 1.3;
            color: #1C1B19;
            margin-bottom: .4rem; }
        .pickup-news-view > .container > .list > .item > .news.priority > a {
          background-color: #fffbdb; }
    .pickup-news-view > .container > .arrowed-link {
      padding: 0 1.6rem;
      font-size: 1.4rem;
      line-height: 4rem;
      display: block;
      text-align: right; }
      .pickup-news-view > .container > .arrowed-link:hover {
        background-color: rgba(255, 191, 0, 0.15); }

@media screen and (max-width: 480px) {
  .pickup-news-view {
    padding: 0 2rem; }
    .pickup-news-view > .container {
      top: 0; } }

.search-box > * {
  height: 3rem;
  vertical-align: top; }

.search-box > select {
  border: none;
  background-color: white; }

.search-box > input[type="text"] {
  padding: 0 1rem;
  width: 26rem;
  -webkit-appearance: none;
  border: none; }

.search-box > button {
  width: 3rem;
  border: none;
  background-color: #FF7300;
  position: relative; }
  .search-box > button:before, .search-box > button:after {
    content: "";
    position: absolute;
    display: block; }
  .search-box > button:before {
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    border: solid 1px white;
    top: .8rem;
    left: .8rem; }
  .search-box > button:after {
    height: .7rem;
    border-right: solid 1px white;
    transform: rotate(-45deg);
    top: 1.8rem;
    left: 1.8rem; }

.search-box[data-color="white"] > select {
  background-color: #F5F4F2;
  border: solid 1px #d2cac4; }

.search-box[data-color="white"] > input[type="text"] {
  border: solid 1px #d2cac4; }

@media screen and (max-width: 480px) {
  .search-box > input[type="text"] {
    border-top: solid 1px #d2cac4;
    border-bottom: solid 1px #d2cac4;
    border-left: solid 1px #d2cac4;
    margin-right: -.4rem; } }

.staff-view > .wrapper > .list {
  list-style: none;
  display: flex;
  margin-bottom: 1.5rem; }
  .staff-view > .wrapper > .list > .staff {
    display: flex;
    width: 30%; }
    .staff-view > .wrapper > .list > .staff > .photo {
      margin-right: 1.5rem; }
    .staff-view > .wrapper > .list > .staff > .explanation > .name {
      font-weight: bold; }

.tab-menu-view {
  font-size: 1.6rem;
  line-height: 2.8rem; }
  .tab-menu-view > .tabmenucontainer {
    border-bottom: solid 0.1rem #1C1B19; }
    .tab-menu-view > .tabmenucontainer > li {
      display: inline-block; }
      .tab-menu-view > .tabmenucontainer > li > a {
        top: .1rem;
        text-decoration: none;
        display: block;
        padding: 0 1rem;
        background-color: #F5F4F2;
        position: relative;
        cursor: pointer;
        transition: background 0.2s, color 0.2s; }
      .tab-menu-view > .tabmenucontainer > li:hover > a {
        background-color: rgba(255, 191, 0, 0.15); }
      .tab-menu-view > .tabmenucontainer > li:hover > ul {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0); }
      .tab-menu-view > .tabmenucontainer > li.-current > a {
        color: #1C1B19;
        line-height: 3rem;
        background-color: white;
        border-top: solid 0.1rem #1C1B19;
        border-left: solid 0.1rem #1C1B19;
        border-right: solid 0.1rem #1C1B19; }
      .tab-menu-view > .tabmenucontainer > li.-haschild > a::after {
        content: "";
        display: inline-block;
        border-right: .4rem solid transparent;
        border-top: 0.5rem solid #1C1B19;
        border-left: .4rem solid transparent;
        margin: 0 0 .2rem .5rem;
        transition: border 0.2s; }
      .tab-menu-view > .tabmenucontainer > li.-haschild:hover > a::after {
        border-top-color: white; }
      .tab-menu-view > .tabmenucontainer > li > ul {
        position: absolute;
        background-color: white;
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.18);
        transition: transform 0.2s, opacity 0.2s;
        opacity: 0;
        pointer-events: none;
        transform: translateY(-1rem);
        z-index: 2; }
        .tab-menu-view > .tabmenucontainer > li > ul > li > a {
          display: block;
          font-size: 1.4rem;
          line-height: 2.9rem;
          text-decoration: none;
          padding: 0 1rem;
          color: #1C1B19;
          transition: background-color 0.2s; }
        .tab-menu-view > .tabmenucontainer > li > ul > li:hover > a {
          background-color: rgba(255, 191, 0, 0.15);
          color: #FF7300; }
        .tab-menu-view > .tabmenucontainer > li > ul > li + li {
          border-top: solid 0.1rem #d2cac4; }
  .tab-menu-view > .tabbedcontent {
    display: none; }
    .tab-menu-view > .tabbedcontent.-current {
      display: block; }

.tag-list-view > * {
  display: inline-block;
  margin-right: .2rem; }

.tag-list-view > .date {
  font-weight: bold;
  color: #6D5C3F; }

.tag-view {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.6;
  background-color: #fcac3d;
  color: #1C1B19;
  border-radius: .8em;
  padding: 0 .8em;
  position: relative;
  margin-bottom: .2rem;
  transition: background-color 0.2s; }
  .tag-view > .count {
    padding: 0 .4rem;
    font-size: .8rem;
    background-color: white;
    vertical-align: middle;
    display: inline-block;
    border-radius: 1.1em;
    text-align: center;
    min-width: 2em; }
  .tag-view.-reverse {
    background-color: #6D5C3F;
    color: white; }
    .tag-view.-reverse > .count {
      color: #1C1B19; }
  .tag-view.-disable {
    background-color: #F5F4F2;
    color: #736357; }
    .tag-view.-disable > .count {
      color: #736357; }
  .tag-view.-disable:hover {
    background-color: rgba(255, 191, 0, 0.15);
    color: #FF7300; }

.tagging-item-view {
  list-style: none; }
  .tagging-item-view > .bottom {
    margin-top: 0.4rem; }
    .tagging-item-view > .bottom.-collapsed {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      height: 1.5rem;
      position: relative;
      padding-left: 1.5rem; }
      .tagging-item-view > .bottom.-collapsed > .collapsedbutton {
        position: absolute;
        width: .7rem;
        height: .7rem;
        border-top: solid .2rem black;
        border-right: solid .2rem black;
        transform: rotate(45deg);
        top: .5rem;
        left: 0;
        cursor: pointer;
        transition: transform 0.2s, top 0.2s; }
      .tagging-item-view > .bottom.-collapsed > * {
        display: inline; }
      .tagging-item-view > .bottom.-collapsed.-opened {
        text-overflow: initial;
        overflow: auto;
        white-space: normal;
        height: auto; }
        .tagging-item-view > .bottom.-collapsed.-opened > .collapsedbutton {
          transform: rotate(135deg);
          top: .3rem;
          left: .1rem; }
        .tagging-item-view > .bottom.-collapsed.-opened > * {
          display: inherit; }

.tagging-list-view {
  padding: 0 0 3rem 3rem; }
  .tagging-list-view .taggingitem {
    margin-bottom: .4rem;
    padding: 1rem 1.2rem;
    font-size: 1.2rem;
    line-height: 1.5;
    position: relative;
    background-color: white;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.18); }
    .tagging-list-view .taggingitem.-hidden {
      display: none; }
    .tagging-list-view .taggingitem > .upper > .title {
      font-size: 1.6rem;
      line-height: 1.2;
      margin-bottom: .4rem; }

.tags-view > .tag {
  color: #FF7300;
  font-weight: bold;
  text-decoration: none; }
  .tags-view > .tag + .tag {
    margin-left: .5em; }

.timeline-view > .nav {
  padding: 1.5rem 0 1.5rem 5rem; }
  .timeline-view > .nav > li {
    font-size: 1.4rem;
    list-style: none;
    padding: .4rem 0;
    line-height: 1.6;
    margin-left: 2rem; }
    .timeline-view > .nav > li:before {
      content: '';
      width: 10px;
      height: 10px;
      display: inline-block;
      border-radius: 100%;
      background: #000;
      position: relative;
      left: -10px; }

.timeline-view > .timeline > li {
  display: flex;
  border-bottom: 1.5px solid #d2cac4;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  margin-left: 0;
  line-height: 1.6; }
  .timeline-view > .timeline > li:first-child {
    border-top: 1.5px solid #d2cac4; }
  .timeline-view > .timeline > li ul li {
    list-style: disc;
    padding: 0; }
  .timeline-view > .timeline > li > .date {
    font-size: 3.5rem;
    color: #6D5C3F;
    margin-top: -0.5rem;
    margin-left: 7rem;
    margin-right: 8rem; }
  .timeline-view > .timeline > li > .content > h3 {
    font-size: 1.5rem;
    border-bottom: none;
    margin-bottom: 0; }
  .timeline-view > .timeline > li > .content > p {
    font-size: 1.3rem; }
    .timeline-view > .timeline > li > .content > p img {
      margin-top: 1rem; }
  .timeline-view > .timeline > li > .content > table {
    border: none; }
    .timeline-view > .timeline > li > .content > table td {
      border-bottom: none; }
  .timeline-view > .timeline > li > .content > .ddbj, .timeline-view > .timeline > li > .content .science {
    position: relative; }
    .timeline-view > .timeline > li > .content > .ddbj:before, .timeline-view > .timeline > li > .content .science:before {
      content: "";
      width: 7px;
      height: 7px;
      display: inline-block;
      border-radius: 50%;
      position: absolute;
      top: 8px;
      left: -20px; }
  .timeline-view > .timeline > li > .content > .jan:after, .timeline-view > .timeline > li > .content .dec:after, .timeline-view > .timeline > li > .content .feb:after, .timeline-view > .timeline > li > .content .mar:after, .timeline-view > .timeline > li > .content .nov:after, .timeline-view > .timeline > li > .content .jul:after, .timeline-view > .timeline > li > .content .apr:after, .timeline-view > .timeline > li > .content .may:after, .timeline-view > .timeline > li > .content .sep:after, .timeline-view > .timeline > li > .content .oct:after, .timeline-view > .timeline > li > .content .aug:after {
    content: "";
    color: #FF7300;
    font-weight: bold;
    position: absolute;
    top: -1px;
    left: -50px; }
  .timeline-view > .timeline > li > .content > .jan:after {
    content: "Jan."; }
  .timeline-view > .timeline > li > .content > .dec:after {
    content: "Dec."; }
  .timeline-view > .timeline > li > .content > .feb:after {
    content: "Feb."; }
  .timeline-view > .timeline > li > .content > .mar:after {
    content: "Mar."; }
  .timeline-view > .timeline > li > .content > .nov:after {
    content: "Nov."; }
  .timeline-view > .timeline > li > .content > .jul:after {
    content: "Jul."; }
  .timeline-view > .timeline > li > .content > .apr:after {
    content: "Apr."; }
  .timeline-view > .timeline > li > .content > .may:after {
    content: "May."; }
  .timeline-view > .timeline > li > .content > .aug:after {
    content: "Aug."; }
  .timeline-view > .timeline > li > .content > .sep:after {
    content: "Sep."; }
  .timeline-view > .timeline > li > .content > .oct:after {
    content: "Oct."; }
  .timeline-view > .timeline > li > .content > .ddbj:before {
    background-color: #FF7300; }
  .timeline-view > .timeline > li > .content > .science:before {
    background-color: #009B00; }
  .timeline-view > .timeline > li > .content > .science:after {
    color: #009B00; }

.top-news-view {
  background-color: white;
  padding: 1.6rem 0 0; }
  .top-news-view > .inner {
    margin: 0 auto;
    max-width: 128rem;
    padding: 0 4.2rem; }
    .top-news-view > .inner.-stretched {
      max-width: 100%; }
    .top-news-view > .inner > ul {
      border: solid 0.1rem #ff9905;
      background-color: #fffbdb;
      padding: .25rem 1rem; }
      .top-news-view > .inner > ul > .item {
        padding: .25rem 0;
        display: block;
        font-size: 1.2rem;
        font-weight: bold;
        line-height: 1.5; }

#Body {
  background-color: white; }
  #Body > .inner {
    margin: 0 auto;
    max-width: 128rem;
    padding: 2rem 3rem 4rem;
    font-size: 1.4rem;
    line-height: 1.4; }
    #Body > .inner.-stretched {
      max-width: 100%; }

@media screen and (max-width: 480px) {
  #Body > .inner {
    width: auto;
    padding-left: 2rem;
    padding-right: 2rem; } }

#MainContentView > .md-content {
  padding: 1.2rem 4.2rem 2.5rem 2.5rem; }
  #MainContentView > .md-content > *:first-child {
    margin-top: 0; }

#NavigationAndMainView {
  border-bottom: 0.3rem solid #6D5C3F;
  background-color: white; }
  #NavigationAndMainView > .inner {
    margin: 0 auto;
    max-width: 128rem;
    display: flex; }
    #NavigationAndMainView > .inner.-stretched {
      max-width: 100%; }
    #NavigationAndMainView > .inner > .subview {
      width: calc( (100vw - 128rem) + 23rem);
      min-width: 23rem;
      max-width: 23rem; }
      #NavigationAndMainView > .inner > .subview > * {
        margin-left: auto;
        padding-bottom: 2rem;
        width: 23rem;
        position: sticky;
        overflow: scroll;
        top: 0; }
    #NavigationAndMainView > .inner > .mainview {
      width: calc( (100vw - 128rem) + (128rem - 23rem)); }
      #NavigationAndMainView > .inner > .mainview > * {
        max-width: calc(128rem - 23rem - 4.2rem); }

#PageHeader {
  background-color: white; }
  #PageHeader > .inner {
    margin: 0 auto;
    max-width: 128rem;
    padding: 2.7rem 4rem 2rem; }
    #PageHeader > .inner.-stretched {
      max-width: 100%; }
    #PageHeader > .inner > .tab-menu-view {
      margin-top: 1.4rem; }

.multi-column-view {
  padding: 2.5rem 4rem 2.5rem 2.5rem; }

#ServicesView {
  margin-right: 1rem;
  padding-top: 2.5rem;
  position: relative; }
  #ServicesView > .appearance-switch {
    font-size: 1.8rem;
    position: absolute;
    display: block;
    top: -.5rem;
    right: 0; }
  #ServicesView > .container {
    list-style: none;
    position: relative;
    transition: margin 0.2s; }
    #ServicesView > .container > .service {
      transition: margin 0.2s, padding 0.2s, width 0.2s; }
      #ServicesView > .container > .service > .upper > .title {
        position: relative;
        margin-bottom: .6rem; }
      #ServicesView > .container > .service > .upper > .tag-list-view {
        margin: 0 -.2rem .8rem; }
        #ServicesView > .container > .service > .upper > .tag-list-view > .tag-view {
          display: inline-block; }
      #ServicesView > .container > .service > .description {
        font-size: 1.2rem;
        line-height: 1.4; }
      #ServicesView > .container > .service > .links {
        position: absolute;
        right: 1.2rem; }
        #ServicesView > .container > .service > .links > ul {
          text-align: right; }
          #ServicesView > .container > .service > .links > ul > li {
            display: inline-block; }
            #ServicesView > .container > .service > .links > ul > li + li {
              margin-left: 1rem; }
  #ServicesView[data-appearance-type="list"] > .container > .service > .upper > * {
    display: inline-block;
    vertical-align: middle; }
  #ServicesView[data-appearance-type="list"] > .container > .service > .upper > .tag-list-view {
    margin-left: 1rem; }
  #ServicesView[data-appearance-type="list"] > .container > .service > .links {
    top: 1rem; }
  #ServicesView[data-appearance-type="panel"] > .container {
    display: flex;
    flex-wrap: wrap;
    margin-right: -2rem; }
    #ServicesView[data-appearance-type="panel"] > .container > .service {
      margin: 0 2rem 2rem 0;
      padding: 1.6rem 1.6rem 3.2rem;
      width: calc( 100% / 3 - 2rem); }
      #ServicesView[data-appearance-type="panel"] > .container > .service > .links {
        bottom: 1rem; }

#SimpleView {
  border-bottom: 0.3rem solid #6D5C3F;
  background-color: white; }
  #SimpleView > .inner {
    margin: 0 auto;
    max-width: 128rem;
    padding: 0 4rem 2rem; }
    #SimpleView > .inner.-stretched {
      max-width: 100%; }

#TopPageView {
  background-color: white; }
  #TopPageView > .inner {
    margin: 0 auto;
    max-width: 128rem;
    padding: 0 4.2rem 4.2rem;
    display: flex; }
    #TopPageView > .inner.-stretched {
      max-width: 100%; }
    #TopPageView > .inner > .maincolumn {
      width: 82.4rem;
      flex-grow: 2; }
      #TopPageView > .inner > .maincolumn > header {
        padding-top: 3rem; }
        #TopPageView > .inner > .maincolumn > header[data-category="top"] {
          display: flex;
          align-items: center; }
        #TopPageView > .inner > .maincolumn > header > .logotype {
          text-indent: -9999px;
          background: url(../images/logotype.svg) no-repeat 0 0;
          width: 18rem;
          height: 6.5rem;
          margin-right: 3rem; }
        #TopPageView > .inner > .maincolumn > header > .title {
          font-size: 3.2rem;
          font-weight: normal;
          line-height: 1; }
        #TopPageView > .inner > .maincolumn > header > .breadcrumb-view {
          margin-bottom: .8rem; }
        #TopPageView > .inner > .maincolumn > header > .description {
          font-size: 1.4rem;
          line-height: 1.5;
          padding-right: 3rem; }
      #TopPageView > .inner > .maincolumn > .tab-menu-view {
        margin-top: 2rem; }
      #TopPageView > .inner > .maincolumn > .panel-view-container {
        padding-top: 3.6rem;
        padding-right: 1rem; }
    #TopPageView > .inner > .pickup-news-view {
      width: 32rem; }

@media screen and (max-width: 480px) {
  #TopPageView > .inner {
    width: auto;
    padding: 2rem 0;
    flex-direction: column; }
    #TopPageView > .inner > .maincolumn {
      order: 2;
      width: auto; }
      #TopPageView > .inner > .maincolumn > header {
        padding: 1rem; }
        #TopPageView > .inner > .maincolumn > header > .logotype {
          margin: 2rem auto 1.6rem;
          width: 36vw;
          height: 13vw;
          top: 0;
          left: 0; }
        #TopPageView > .inner > .maincolumn > header > .description {
          top: 0;
          left: 0;
          text-align: center; }
      #TopPageView > .inner > .maincolumn > * {
        margin: 0 auto;
        position: relative; }
    #TopPageView > .inner > .pickup-news-view {
      order: 1;
      width: auto; } }

._bg-dbcls {
  background-color: #004098 !important; }

._padding-bottom-5rem {
  padding-bottom: 5rem; }

.top_space20 {
  margin-top: 2rem; }

/*# sourceMappingURL=main.css.map */