#MainContentView
  > .header
    padding: 1.2rem $PADDING_BASE 1.5rem 2.5rem
    > .breadcrumb-view
      margin-bottom: .8rem
    > .title
      font-size: 2.4rem
      line-height: 1.1
      font-weight: bold
  > .md-content
    padding: 1.2rem $PADDING_BASE 2.5rem 2.5rem
    > *:first-child 
      margin-top: 0
