---
layout: children
title: search_analysis
title-ja: 検索・解析
category: search_analysis
lang: ja
---
<div id="NavigationAndMainView">
  <div class="inner -stretched">
    <nav class="subview">
      <nav class="facet-search">
        <h2 class="title">タグ</h2>
        <ul class="tags"></ul>
      </nav>
    </nav>
    <main class="mainview -beige">
      <div id="ServicesView" data-appearance-type="panel">
        <nav class="appearance-switch">
          <div class="button -current" data-appearance-value="panel" title="Panel view"></div>
          <div class="button" data-appearance-value="list" title="List view"></div>
        </nav>
        <ul class="container">
          {% for service in site.search_analysis %}
          <li class="service">
            <div class="upper">
              <h2 class="title">
                <a href="{{ service.service_link[page.lang] }}">{{ service.title }}</a>
              </h2>
              <ul class="tags">
                {% for tag in service.tags %}
                <li class="service-tag" data-tag="{{ site.data.service_tag[tag][page.lang] }}">{{ site.data.service_tag[tag][page.lang] }}</li>
                {% endfor %}
                {% if service.affiliation %}
                <li class="service-tag -reverse" data-tag="{{service.affiliation}}">{{ service.affiliation }}</li>
                {% endif %}
              </ul>
            </div>
            <p class="description">{{ service.description[page.lang] }}</p>
            <nav class="links">
              <ul>
                <li><a class="arrowed-link" href="{{ service.pathname }}">HELP</a></li>
                {% if service.wabi %}
                <li><a class="arrowed-link" href="{{ service.wabi }}">Web API</a></li>
                {% endif %}
              </ul>
            </nav>
          </li>
          {% endfor %}
        </ul>
      </div>
    </main>
  </div>
</div>
