---
layout: children
title: search_analysis
title-ja: 検索・解析
category: search_analysis
lang: ja
---
<div id="NavigationAndMainView">
  <div class="inner -stretched">
    <nav class="subview">
      <div class="internal-link">
        <h2>タグ</h2>
        {{ site.data.service_tag }}
      </div>
    </nav>
    <main class="mainview -beige">
      <ul id="ServicesView">
        {% for service in site.search_analysis %}
          <li class="panel">
            <h2 class="title">
              <a href="{{ service.service_link[page.lang] }}">{{ service.title }}</a>
              
            </h2>
            <ul class="tags">
              {% for tag in service.tags %}
              <li class="tag">{{ site.data.service_tag[tag][page.lang] }}</li>
              {% endfor %}
            </ul>
            <p class="description">{{ service.description[page.lang] }}</p>
            <nav class="links">
              <ul>
                <li><a class="arrowed-link" href="{{ service.pathname }}">HELP</a></li>
                {% if service.wabi %}
                <li><a class="arrowed-link" href="{{ service.wabi }}">Web API</a></li>
                {% endif %}
              </ul>
            </nav>
          </li>
        {% endfor %}
      </ul>
    </main>
  </div>
</div>
