.internal-link {
  border-right: 1px solid #282725; }
  .internal-link > .title {
    font-size: 14px;
    margin-bottom: 10px; }
  .internal-link > ul > li {
    font-size: 14px;
    list-style: none; }
    .internal-link > ul > li:nth-of-type(n+2) {
      margin-left: 10px; }
    .internal-link > ul > li > a {
      color: B2ACA6;
      text-decoration: none;
      display: block;
      margin-bottom: 10px; }
