---
layout: children
title: 活動活動
lang: ja
---
<ul>
{% for service in site.activities%}
  {% unless service.title == "activities" %}
    {% if service.service_link != null %}
      <li>
        <a href="{{ service.service_link }}">{{ service.title }}</a>
        <a href="{{ service.pathname }}">help</a>
        <br>
      </li>
    {% else %}
      <li>
        <a href="{{ service.pathname }}">{{ service.title }}</a>
        <br>
      </li>
    {% endif %}
  {% endunless %}
{% endfor %}
</ul>

<div id="NavigationAndMainView">
  <div class="inner -stretched">
    <nav class="subview">
      <nav class="facet-search">
        <h2 class="title">タグ</h2>
        <ul class="tags"></ul>
      </nav>
    </nav>
    <main class="mainview -beige">
      HOGEHOGE
    </main>
  </div>
</div>
