---
layout: children
title: 活動
lang: ja
---
<div id="NavigationAndMainView">
  <div class="inner">
    <div class="subview">
      
      <nav class="facet-search" data-facet-search-year="true">
        <div class="tab-menu-view">
          <ul class="tabmenucontainer">
            <li class="-current" data-tab="keyword"><a>タグ</a></li>
            <li data-tab="year"><a>年別</a></li>
          </ul>
          <ul class="tags tabbedcontent -current" data-tab="keyword"></ul>
          <ul class="tags tabbedcontent" data-tab="year"></ul>
        </div>
      </nav>
      
    </div>
    
    <main class="mainview">
      <ul class="tagging-list-view" data-sort-by="date">

        {% comment %} 講習会 {% endcomment %}
        {% assign activities = site.activities | where: "category", "training" | where: "lang", page.lang %}
        {% for activity in activities %}
          {% assign date_label = activity.start_date | date: "%Y / %m / %d" %}
          {% assign tag_label = activity.keyword %}
          {% assign body = activity.content | strip_html | truncate: 100 %}
          {% include activity-view.html tag="training" label=activity.title date=activity.start_date date_label=date_label %}
        {% endfor %}

        {% comment %} 論文・講演発表・出版物 {% endcomment %}
        {% for activity in site.data.achievements.items %}
          {% if activity.day %}
            {% assign date_label = activity.year | append: " / " | append: activity.month | append: " / " | append: activity.day %}
          {% elsif activity.month %}
            {% assign date_label = activity.year | append: " / " | append: activity.month %}
          {% else %}
            {% assign date_label = activity.year %}
          {% endif %}
          {% assign tag_label = site.data.achievements.dictionary[activity.keyword][page.lang] %}
          {% capture body %}
            {% case activity.keyword %}
              {% when 'paper' %}
                <p>{{ activity.author }}</p>
                <p><em>{{ activity.info }}</em> Pubmed: <a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ activity.pubmed_id }}">{{ activity.pubmed_id }}</a></p>
              {% when 'presentation' %}
                <p>{{ activity.author }}</p>
                <p>{{ activity.info }}</p>
              {% when 'book' %}
                <p>{{ activity.author }}</p>
                <p>{{ activity.info }}</p>
          {% endcase %}
          {% endcapture %}
          {% include activity-view.html tag=activity.keyword label=activity.title date=activity.date date_label=date_label %}
        {% endfor %}
      
        {% comment %} 報告書 {% endcomment %}
        {% for activity in site.data.annual_reports.items %}
          {% assign label = activity.title[page.lang] %}
          {% assign date_label = activity.date | date: "%Y" %}
          {% assign tag_label = site.data.annual_reports.dictionary.tag[page.lang] %}
          {% capture body %}
            <a href="{{ activity.report_url[page.lang] }}">{{ site.data.annual_reports.dictionary.report_url[page.lang] }}</a>
            {% if activity.budget_pdf %}
              &nbsp;/&nbsp;<a href="{{ activity.budget_pdf[page.lang] }}">{{ site.data.annual_reports.dictionary.budget_pdf[page.lang] }}</a>
            {% endif %}
            {% if activity.budget_excel %}
              &nbsp;/&nbsp;<a href="{{ activity.budget_excel[page.lang] }}">{{ site.data.annual_reports.dictionary.budget_excel[page.lang] }}</a>
            {% endif %}
            {% if activity.self_evaluation %}
              &nbsp;&nbsp;/&nbsp;&nbsp;<a href="{{ activity.self_evaluation[page.lang] }}">{{ site.data.annual_reports.dictionary.self_evaluation[page.lang] }}</a>
            {% endif %}
          {% endcapture %}
          {% include activity-view.html tag="annual_report" label=label date=activity.date date_label=date_label %}
        {% endfor %}

        {% comment %} 国際実務者会議報告 {% endcomment %}
        {% assign activities = site.activities | where: "category", "icm" | where: "lang", page.lang %}
        {% for activity in activities %}
          {% assign date_label = activity.start_date | date: "%Y / %m / %d" %}
          {% assign tag_label = site.data.achievements.dictionary.icm[page.lang] %}
          {% assign body = activity.content | strip_html | truncate: 100 %}
          {% include activity-view.html tag="icm" label=activity.title date=activity.start_date date_label=date_label %}
        {% endfor %}

      </ul>
    </main>
  </div>
</div>
