<nav class="category-tab">
  <ul>
    <li {% if page.title == "servicesanalysis" %} class="-servicesanalysis -current" {% else %} class="-servicesanalysis" {% endif %}><a href="">検索・解析</a></li>
    <li {% if page.title == "submissions" %} class="-submissions -current" {% else %} class="-submissions" {% endif %}><a href="">登録</a></li>
    <li {% if page.title == "downloads" %} class="-downloads -current" {% else %} class="-downloads" {% endif %}><a href="">ダウンロード</a></li>
    <li {% if page.title == "supercomputer" %} class="-supercomputer -current" {% else %} class="-supercomputer" {% endif %}><a href="">スパコン</a></li>
    <li {% if page.title == "statistics" %} class="-statistics -current" {% else %} class="-statistics" {% endif %}><a href="">統計</a></li>
    <li {% if page.title == "activities" %} class="-activities -current" {% else %} class="-activities" {% endif %}><a href="">活動</a></li>
    <li {% if page.title == "about" %} class="-about -current" {% else %} class="-about" {% endif %}><a href="">センターについて</a></li>
  </ul>
</nav>