---
layout: default
---
<header id="PageHeader">
  <div class="inner">
    <div class="page-title">
      <h1 class="title">{{ page.title }}</h1>
      <nav class="breadcrumb">
        <ul>
          <li>
            {% if page.lang == 'ja' %}
            <a href="{{ site.url }}">ホーム</a>
            {% else %}
            <a href="{{ site.url }}/index-e">Home</a>
            {% endif %}
          </li>
          <li>
            {{ page.title }}
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
{{ content }}
