---
layout: default
---
{% include category-tab.html %}
<header id="PageHeader">
  <div class="inner">
    <div class="page-title">
      <h1 class="title">{{ page.title }}</h1>
      <nav class="breadcrumb">
        <ul>
          <li>
            <a href="index.html">ホーム</a>
          </li>
          <li>
            <a href="index.html">検索・解析</a>
          </li>
          <li>
            <a href="">{{ page.title }}</a>
          </li>
          <li class="current">
            {{ page.title }}ヘルプ
          </li>
        </ul>
      </nav>
    </div>
    {% include search-form.html color="white" %}
  </div>
</header>

<section id="NavigationAndMainView">
  <div class="inner">
    <div class="subview">
      <nav id="gnav" class="internal-link">
      </nav>
    </div>
    <main id="MainContentView" class="mainview">
      <div class="md-content">
        {{ content }}
      </div>
      <aside class="multi-column-view">
        <h2 class="caption">Related pages</h2>
        <div class="navigation">
          <nav>
            <ul>
              <li>
                <a href="">ARSA ヘルプ</a>
              </li>
              <li>
                <a href="">BLAST ヘルプ</a>
              </li>
              <li>
                <a href="">VecScreen ヘルプ</a>
              </li>
              <li>
                <a href="">ClustalW ヘルプ</a>
              </li>
              <li>
                <a href="">TXSearch ヘルプ</a>
              </li>
            </ul>
          </nav>
          <nav>
            <ul>
              <li>
                <a href="">過去のサービス</a>
              </li>
              <li>
                <a href="">関連論文</a>
              </li>
              <li>
                <a href="">WABI (Web API for Biology)</a>
              </li>
              <li>
                <a href="">WABI BLAST ヘルプ</a>
              </li>
              <li>
                <a href="">WABI ClustalW ヘルプ</a>
              </li>
            </ul>
          </nav>
          <nav>
            <ul>
              <li>
                <a href="">WABI VecScreen ヘルプ</a>
              </li>
              <li>
                <a href="">WABI MAFFT ヘルプ</a>
              </li>
              <li>
                <a href="">Pipeline ヘルプ</a>
              </li>
            </ul>
          </nav>
        </div>
      </aside>
    </main>
  </div>
</section>
