---
layout: default
---
<header id="PageHeader">
  <div class="inner">
    <div class="page-title -small">
      <h1 class="title">{{ page.title }}</h1>
      <nav class="breadcrumb">
        <ul>
          <li>
            <a href="index.html">{% if page.lang == 'ja' %}ホーム{%  else %}Home{% endif %}</a>
          </li>
          <li>
            {% if page.category == 'faq' or page.category == 'news' %}
            <a href="{{site.url}}{{site.baseurl}}/{{ page.category }}/{{page.lang}}/">{{ page.category }}</a>
            {% else %}
            <a href="{{site.url}}{{site.baseurl}}/{{ page.category }}">{{ page.category }}</a>
            {% endif %}
          </li>
          <li>
            <a href="">{{ page.title }}</a>
          </li>
        </ul>
      </nav>
    </div>
    {% include tab-menu.html %}

  </div>
</header>

<main id="SimpleView">
  <div class="inner">
    <article class="md-content">
      {{ content }}
    </article>
  </div>
</main>
