---
layout: default
---
<header id="PageHeader">
  <div class="inner">
    <div class="page-title">
      <p class="title -normal">{{ page.service_name }}</p>
    </div>
    {% include tab-menu.html %}

  </div>
</header>

<section id="NavigationAndMainView">
  <div class="inner">
    <div class="subview">
      <nav id="TableOfContents" class="internal-link">
      </nav>
    </div>
    <section id="MainContentView" class="mainview">
      <header class="header">
        {% include breadcrumb.html lang=page.lang %}
        <h1 class="title">{{ page.title }}</h1>
      </header>
      <main class="md-content">
        {{ content }}
      </main>
      {% include related-pages.html related_pages=page.related_pages %}
    </section>
  </div>
</section>