---
layout: default
---
<div id="TopPageView">
  <div class="inner">

    <section class="maincolumn">

      <header data-category="{{ page.category }}">
        {% if page.category == 'top' %}
        <h1 class="logotype">{{ page.title }}</h1>
        {% else %}
        <h1 class="title">{{ page.title }}</h1>

        <nav class="breadcrumb-view">
          <ul>
            {% include breadcrumb-home.html lang=page.lang %}
            <li><a>{{ page.title }}</a></li>
          </ul>
        </nav>
  
        {% endif %}
        <div class="description">{{ page.description }}</div>
      </header>

      {% if page.tab_menu %}
      <nav class="tab-menu-view">
        <ul class="tabmenucontainer">
          {% for item in page.tab_menu %}
          <li class="{% if item.children %} -haschild{% endif %}{% if page.current_tab == item.id %} -current{% endif %}">
            <a href="{{ item.url }}">{{ item.title }}</a>
            {% if item.children %}
            <ul>
              {% for childitem in item.children %}
              <li>
                <a href="{{ childitem.url }}">{{ childitem.title }}</a>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </nav>
      {% endif %}

      <ul class="panel-view-container">
        {% for panel in page.panels %}
        <li class="panel">
          <a href="{{panel.url}}">
            <h2 class="title">
              <img src="{{panel.icon}}"/>
              <span>{{panel.title}}</span>
            </h2>
            <p class="description">{{panel.description}}</p>
          </a>
        </li>
        {% endfor %}
      </ul>
  
    </section>

    <aside class="pickup-news-view">
      <div class="container">
        <h2 class="title">NEWS</h2>
        <ul class="list">
          
          {% assign news_list = site.news | where: "lang", page.lang | where_exp: "news_list", "news_list.db contains page.category" | sort "date" | reverse %}
          {% for news in news_list limit:5 %}
          <li class="item">
            <article class="news{% if news.priority %} priority{% endif %}">
              <a href="{{ site.baseurl }}{{ news.url }}">
                <h3 class="title">{{news.title}}</h3>
                {% include tags.html lang=page.lang date=news.date tags=news.tags dbs=news.db %}
              </a>
            </article>
          </li>
          {% endfor %}
        
        </ul>
        <a class="arrowed-link" href="{{ site.baseurl }}/news/ja/?keyword%5B%5D={{ page.category }}">more</a>
      </div>
    </aside>

  </div>
</div>

{{ content }}